In [ ]:
# missing number check
nums=[9,6,4,2,3,5,7,0,1]
for i in range(0,len(nums)):
  if i not in nums:
    print(i)

8

In [ ]:
list1=[1,2,3,4,6]   # common element find
list2=[3,4,5,6,7]
list3=[]
for i in list1:
  for j in list2:
    if i==j:
      list3.append(i)
print(list3)

[3, 4, 6]

In [ ]:
# find the longest word in the list
words=['apple','banana','strawberry','kiwi']
longest=max(words,key=len)
longest

'strawberry'

In [ ]:
words = ['apple', 'banana', 'strawberry', 'kiwi']
longest_word=''
max_length=0
for i in words:
  length=0
  for j in i:
    length+=1
  if length > max_length:
    max_length=length
    longest_word = i
print(longest_word)

strawberry

In [ ]:
list1=['python', 'is', 'a', 'programing', 'language', 'and' ,'python' ,'is', 'best', 'language']
d1={}
for i in list1:
  if i in d1:
    d1[i]+=1
  else:
    d1[i]=1
print(d1)

{'python': 2, 'is': 2, 'a': 1, 'programing': 1, 'language': 2, 'and': 1, 'best': 1}

In [ ]:
fact=1
for i in range(1,6):
  fact*=i
print(fact)

120

In [ ]:
num=12345
fact=1
while num>0:
  rem = num%10
  fact=fact*rem
  num = num//10
print(fact)

120

In [ ]:
num=int(input('Enter the number : '))  # fibonacci
a=0
b=1
for i in range(num):
  print(a,end=" ")
  a,b=b,a+b

Enter the number : 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# armstrong

num=153
sum=0
temp=num
while num > 0:
  rem=num%10
  sum=sum+rem**3
  num=num//10
if temp==sum:
  print('Armstrong Number')
else:
  print('Not Armstrong ')

Armstrong Number

In [ ]:
# using for loop armstrong number
for i in range(100,1000):
  sum=0
  temp=i
  while i > 0:
    rem=i%10
    sum = sum+rem**3
    i=i//10
  if temp==sum:
    print('Armstrong : ',sum)

Armstrong :  153
Armstrong :  370
Armstrong :  371
Armstrong :  407

In [ ]:
num=int(input('Enter the number : '))
temp=num
rev=0
while num > 0:
  rem =num % 10
  rev=rev*10+rem
  num=num//10
if temp==rev:
  print('Palindrome number : ',rev)
else:
  print(' Not Palindrome : ',rev)

Enter the number : 121
Palindrome number :  121

In [ ]:
numbers = [121, 345, 454, 789, 989, 112]
palindrome=[]
for num in numbers:
  temp=num
  rev=0
  while num > 0:
    rem = num%10
    rev=rev*10+rem
    num=num//10
  if temp==rev:
    palindrome.append(temp)
print('Palindrome number : ',palindrome)

Palindrome number :  [121, 454, 989]

In [ ]:
str1='hey user hey'
rev=''
for i in str1:
  rev=i+rev
print(rev)

yeh resu yeh

In [ ]:
num=int(input('Enter the number :'))
roman = [
                ("M", 1000),("CM", 900),("D", 500),("CD", 400),
                ("C", 100),("XC", 90),("L", 50),("XL", 40),
                ("X", 10),("IX", 9),("V", 5),("IV", 4),("I", 1)
]
res=[]
x=0
for symbol , value in roman:
  if num==0:
    break
  count = num//value
  res.append(symbol*count)
  num-=count*value
  x ="".join(res)
print(x)

Enter the number :345
CCCXLV

In [ ]:
s = input('Enter roman number')
dict={"I":1,"V":5,"X":10,"L":50,"C":100,"D":500,"M":1000}
prev=0
total=0
for i in range(len(s)):
  current=dict[s[i]]
  if current > prev:
    total+=current-2*prev
    prev=current
  else:
    total=total+current
    prev=current
print(total)

Enter roman numberMDX
1510

In [ ]:
nums1 = [1,2,3,0,0,0]
m=3
nums2 = [2,5,6]
n=3
nums1[m:]=nums2
nums1.sort()
print(nums1)

[1, 2, 2, 3, 5, 6]

In [ ]:
nums = [3,2,2,3]
val=3
i=0
for j in range(len(nums)):
  if nums[j]==val:
    j-=1
  else:
    nums[i]=nums[j]
    i+=1
print(i)

2

In [ ]:
def removeDuplicates(nums):
        i=0
        for j in range(0,len(nums)):
            if nums[j]==nums[i]:
                j+=1
            else:
                i+=1
                nums[i]=nums[j]
        return i+1
removeDuplicates([1,1,2])

2

In [ ]:
def removeDuplicates(nums):
        k=2
        for i in range(2,len(nums)):
            if nums[i] != nums[k-2]:
                nums[k] = nums[i]
                k+=1
        return k
removeDuplicates([1,1,1,2,2,3])

5

In [ ]:
nums = [3,2,3]
nums.sort()
print(nums[len(nums)//2])

3

In [ ]:
nums=int(input('Enter the number : '))
a=True
for i in range(2,nums):
  if nums%i==0:
    a=False
    break
if a==True:
  print('Prime number')
else:
  print('Not')

Enter the number : 13
Prime number

In [ ]:
n=5
for i in range(1,n+1):
  num=65
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num+=1
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
n=5
num=65
for i in range(1,n+1):

  for j in range(1,i+1):
    print(chr(num),end=" ")
  num+=1
  print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
n=5
for i in range(n,0,-1):
  num=65
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(chr(num),end=" ")
    num+=1
  print()
for i in range(2,n+1):
  num=65
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(chr(num),end=' ')
    num+=1
  print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
n=5
for i in range(n,0,-1):

  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print("*",end=" ")

  print()
for i in range(2,n+1):

  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print("*",end=' ')

  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n=1
for i in range(1,6):
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
      print(n,end=" ")
      n+=1
    else:
      print(" ",end=" ")
  print()

1
2 3
4   5
6     7
8 9 10 11 12

In [ ]:
st1='hey hii how are you!'
l1=st1.split(' ')
l1

['hey', 'hii', 'how', 'are', 'you!']

In [ ]:
l1=['hey', 'hii', 'how', 'are', 'you!']
str1=' '.join(l1)
str1

'hey hii how are you!'