In [ ]:
num=5
for i in range(1,num+1):
  for s in range(i,num):
    print(" ",end=" ")
  for j in range(1,2*i):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if (i+j) %2==0:
      print(1,end=' ')
    else:
      print(0,end=' ')
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if  j%2==0:
      print(1,end=' ')
    else:
      print(0,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [ ]:
n=5
for i in range(n,0,-1):
  for s in range(i,n):
    print("-",end=" ")
  for j in range(2*i,1,-1):
    print("*",end=" ")
  print()

* * * * * * * * *
- * * * * * * *
- - * * * * *
- - - * * *
- - - - *

In [ ]:
n=3
for i in range(n,0,-1):
  for s in range(i,n):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(j,end=" ")
  print()

1 2 3 4 5
  1 2 3
    1

In [ ]:
n=4
for i in range(1,n+1):
  for s in range(i,n):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

   *
  * *
 * * *
* * * *

In [ ]:
n=6
for i in range(1,n+1):
  for s in range(1,i):
    print(" ",end="")
  for j in range(i,n+1):
    print(j,end=" ")
  print()

1 2 3 4 5 6
 2 3 4 5 6
  3 4 5 6
   4 5 6
    5 6
     6

In [ ]:
n=1
for i in range(1,7):
  for j in range(i,0,-1):
      print(i,end=" ")
      i-=1
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [ ]:
num=5
for i in range(2,num+1):
  for j in range(2,i+1):
    print(j,end=" ")
    num+=1
  print()

2
2 3
2 3 4
2 3 4 5

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,2*n):
    if i==4 or i+j==n+1 or j-i==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    *   *
  *       *
* * * * * * *

In [ ]:
n=4
k=2
for i in range(1,n+1):
  for j in range(1,2*n):
    if  i+j==n+1 or j-i==n-1:
      print("*",end=" ")
    elif i==n and j!=k:
      print("*",end=" ")
      k+=2
    else:
      print(" ",end=" ")
  print()

      *
    *   *
  *       *
*   *   *   *

In [13]:
num=input("enter an odd length number")
length=len(num)
for i in range(length):
  for j in range(length):
    if i==j or i+j==length-1:
      print(num[j],end=" ")
    else:
      print(" ",end=" ")
  print()

enter an odd length number12345
1       5
  2   4
    3
  2   4
1       5

In [14]:
num=input("enter an odd length number")
length=len(num)
for i in range(length):
  for j in range(length):
    if i==j or i+j==length-1:
      print(num[i],end=" ")
    else:
      print(" ",end=" ")
  print()

enter an odd length number12345
1       1
  2   2
    3
  4   4
5       5