In [ ]:
# 1. Swap Two Variables Without a Temporary Variable
a=5
b=8
a,b=b,a
print('a :',a)
print('b :',b)

a : 8
b : 5

In [ ]:
# 2. Check if a Number is Even or Odd
num=int(input('Enter the number : '))
if num%2==0:
  print('Even')
else:
  print('odd')

Enter the number : 5
odd

In [ ]:
# 3. Check if a Number is Prime
num=int(input('Enter the number : '))
a=True
for i in range(2 , num):
  if num % i==0:
    a=False
    break
if a==True:
  print('prime number',num)
else:
  print('not prime',num)

Enter the number : 5
prime number 5

In [ ]:
# 4 Find the Factorial of a Number
num=int(input('Enter the number : '))
fact = 1
for i in range(1 , num+1):
  fact = fact*i
print(fact)

Enter the number : 5
120

In [ ]:
# 5. Generate Fibonacci Sequence
a = 0
b = 1
num = int(input('Enter the number : '))
for i in range(1,num+1):
  print(a , end=' ')
  a,b=b,a+b

Enter the number : 7
0 1 1 2 3 5 8

In [ ]:
# 6. Reverse a String
s='hello'
print(s[::-1])

olleh

In [ ]:
# 7. Find the Largest Number in a List
list1=[1,10,21,32,43,54]
max=list1[0]
for i in list1:
  if i > max :
    max=i
print(max)

54

In [ ]:
# 8. Find the Smallest Number in a List
list1=[1,10,21,32,43,54]
min = list1[0]
for i in list1:
  if i < min:
    min = i
print(min)

1

In [ ]:
# 9. Check if a String is Palindrome
def palindrome(s):
  return s==s[::-1]
print(palindrome('radar'))

True

In [ ]:
# 10. Count the Number of Vowels in a String
str1='hello world'
vowels='aeiouAEIOU'
count=0
for i in str1:
  if i in vowels:
    count+=1
print(count)

3

In [1]:
# 11. Find the Sum of Digits in a Number
num=1234
sum=0
while num >0:
  rem=num%10
  sum=sum+rem
  num=num//10
print(sum)

10

In [4]:
# 12. Find the GCD of Two Numbers
a=4
b=6
while b!=0:
  a,b=b,a%b
print(a)

2

In [1]:
# 13. Find the LCM of Two Numbers
a=5
b=7
if a>b:
  greatest=a
else:
  greatest=b
while True:
  if greatest%a==0 and greatest%b==0:
    print('Lcm is ', greatest)
    break
  else:
    greatest+=1

Lcm is  35

In [2]:
# 14. Remove Duplicates from a List
list1=[1,1,2,2,3,3,4,4,5,6,7]
set1=set(list1)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [3]:
# 15. Find the Second Largest Number in a List
list1=[1,23,43,44,65,46]
l=0
s=0
for i in list1:
  if i > l:
    s=l
    l=i
  elif i > s and i !=l:
    s=i
print('largest number : ',l)
print('Second largest : ',s)

largest number :  65
Second largest :  46

In [4]:
# 16. Find the Most Frequent Element in a List
lst = [1, 3, 2, 3, 4, 3, 5, 2, 1, 2, 2]

freq = {}  # Dictionary to store frequency of each element

for num in lst:
    freq[num] = freq.get(num, 0) + 1  # Increment count of the element

max_freq = max(freq.values())  # Find the maximum frequency

for key, value in freq.items():
    if value == max_freq:
        print("Most Frequent Element:", key)
        break  # Stop after finding the first most frequent element

Most Frequent Element: 2

In [6]:
# 17. Check if Two Strings are Anagrams
s1='listen'
s2='silent'
if sorted(s1)==sorted(s2):
   print('Both are anagram : ',s1,s2)
else:
  print('not anagram')

Both are anagram :  listen silent

In [7]:
# 18. Find the Intersection of Two Lists
list1=[1,2,3,4]
list2=[3,4,5,6]
set1=set(list1)
set2=set(list2)
set1.intersection(set2)

{3, 4}

In [12]:
# 19. Merge Two Sorted Lists
list1=[1,2,3,4]
list2=[5,6,7,8]
merge=sorted(list1+list2)
print(merge)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
# 20. Find the Missing Number in a List
list1=[1,2,4,5,6]
n=len(list1)+1
expect_sum=n*(n+1)//2
actual_sum=sum(list1)
missing_sum=expect_sum-actual_sum
print(missing_sum)

3

In [15]:
# 21. Find the First Non-Repeating Character in a String
s='abbacde'
for char in s:
  if s.count(char)==1:
    print('First non repeating character : ',char)
    break

First non repeating character :  c

In [22]:
# 22. Find the Length of the Longest Word in a Sentence
sentence = "Python is amazing"
longest=max(sentence.split(),key=len)
print(longest)

amazing

In [39]:
# 23. Find the frequency in a String
words = "apple banana apple orange banana apple"
list1=words.split()
dict={}
for i in list1:
  if i in dict:
    dict[i]+=1
  else:
    dict[i]=1
print(dict)

{'apple': 3, 'banana': 2, 'orange': 1}

In [40]:
# 24. Find the fmost frequent word in a String
words = "apple banana apple orange banana apple"
list1=words.split()
dict={}
for i in list1:
  dict[i]=dict.get(i,0)+1
most_freq=max(dict,key=dict.get)
print('Most Freq : ',most_freq)

Most Freq :  apple

In [41]:
# 25. Check if a Number is a Power of Two
number = 16
if number > 0 and (number & (number - 1)) == 0:
    print(f"{number} is a power of two.")
else:
    print(f"{number} is not a power of two.")

16 is a power of two.

In [43]:
# 26. Write a program that can multiply 2 numbers provided by the user without using the ( * multiply) operator
num1=5
num2=7
result=0
for i in range(num2):
  result=result+num1
print(result)

35

In [44]:
# 27 Write a program to count the total number of digits in a number using a while loop. a.
#  For example, the number is 75869, so the output should be 5.
num=75869
count=0
while num>0:
  rem=num%10
  count+=1
  num=num//10
print(count)

5

In [45]:
# 28 Write a program to print multiplication table of a given number For example, num = 2 so the output should be 2,4,6,8....20
num=int(input('Enter the number : '))
for i in range(1 , 11):
  print(num*i)

Enter the number : 2
2
4
6
8
10
12
14
16
18
20

In [46]:
# 29. Write a program to print the first 25 odd numbers in list
list1=[]
for i in range(1,51):
  if i %2!=0:
    list1.append(i)
print(list1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [47]:
# 30. Write a program to print the first 25 even numbers in list
list1=[]
for i in range(1,51):
  if i %2==0:
    list1.append(i)
print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [49]:
# 31. Arrange string characters such that lowercase letters should come first
s = 'Hii My Name GAURAv'
lower=''
upper=''
for i in s:
  if i.islower():
    lower+=i
  else:
    upper+=i
combined=lower+upper
print(combined)

iiyamevH M N GAURA

In [50]:
# 32  Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
digit=0
special=0
letter=0
for i in str1:
  if i.isalpha():
    letter+=1
  elif i.isdigit():
    digit+=1
  else:
    special+=1
print('Digit : ',digit)
print('letter : ',letter)
print('Special : ',special)

Digit :  3
letter :  8
Special :  4

In [51]:
# 33  Remove empty strings from a list of strings
list1=["python","is","","high level","","programming language"]
new=[]
for i in list1:
  if i!='':
    new.append(i)
print(new)

['python', 'is', 'high level', 'programming language']

In [53]:
# 34 Removal all characters from a string except integer
str1 = 'I am 25 years and 10 months old'
inte=''
for i in str1:
  if i.isdigit():
    inte+=i
print(inte)

2510

In [54]:
# 35  extract the email service provider name
emaillist="KSR@datavizion.com" ,"mymail@yahoo.com","milindmali@google.com","snehal@health"
provider_name=[]
for email in emaillist:
  provider=email.split("@")
  provider_name.append(provider)
print(provider_name)

[['KSR', 'datavizion.com'], ['mymail', 'yahoo.com'], ['milindmali', 'google.com'], ['snehal', 'health']]

In [57]:
# 36. extract all the emailid for the given string
string = "Hi my name is Govind Das and my mail id is milindmali108@gmail.com and my org"
str=string.split()
email=""
for char in str:
  if "@" in char and "." in char:
    email=char
    break
print(email)

milindmali108@gmail.com

In [58]:
# 37  Create a Python set such that it shows the element from both lists in a pair
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
pair = set(zip(first_list , second_list))
print(pair)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [62]:
# 38  Write a program to reverse a List in Python
list=[1,2,3,4,5]
list.sort(reverse=True)
print(list)

[5, 4, 3, 2, 1]

In [63]:
# 39  Write a program to get sum of number of digit in a list
list1=[1,2,4,3,5]
sum=0
for i in list1:
  sum=sum+i
print(sum)

15

In [64]:
# 40  Write a program to get the smallest number in a list
# Note => without using reverse(), sort() and slicing operator
list1=[34,54,65,76,2,45]
smallest_num=list1[0]
for i in list1:
  if i < smallest_num:
    smallest_num=i
print(smallest_num)

2