In [ ]:
# 1. Write a Python script to sort (ascending and descending) a dictionary by value.
my_d
ict={1:2,3:4,5:6,0:1}
dict1 = sorted(my_dict.items())
print(dict1)

[(0, 1), (1, 2), (3, 4), (5, 6)]

In [ ]:
# 2. Write a Python script to add a key to a dictionary.
dictionary = {0: 10, 1: 20}
dictionary[2]=30
print(dictionary)

{0: 10, 1: 20, 2: 30}

In [ ]:
# 3. Write a Python script to concatenate the following dictionaries to create a new one.
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
total_dict= {**dict1,**dict2,**dict3}
print(total_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# 4. Write a Python script to check whether a given key already exists in a dictionary.
dict1={0: 10, 1: 20}
key=1
if key in dict1:
  print("Key exist")
else:
  print("Key does not exist")

Key exist

In [ ]:
# 5. Write a Python program to iterate over dictionaries using for loops.
d = {'x': 10, 'y': 20, 'z': 30}
for key,value in d.items():
  print(key,value)

x 10
y 20
z 30

In [ ]:
# 6. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
n=int(input("Enter the number"))
d={}
for x in range(1,n+1):
  d[x] = x*x
print(d)

Enter the number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#  7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
d={}
for x in range(1,16):
  d[x]=x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# 8. Write a Python script to merge two Python dictionaries.
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
merged_dict={**d1,**d2}
print(merged_dict)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
# # 9. Write a Python program to iterate over dictionaries using for loops.
# d1 = {'a': 100, 'b': 200}
for key,value in d1.items():
  print(key,value)

a 100
b 200

In [ ]:
# 10. Write a Python program to sum all the items in a dictionary.
d1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
sum_dict=sum(d1.values())
print(sum_dict)

55

In [2]:
# 11. Write a Python program to multiply all the items in a dictionary.
d1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
fact=1
for value in d1.values():
  fact*=value
print(fact)

14400