In [80]:
# Dictionary --> Key value pair

In [81]:
marks={
    'harry':100,
    'rohan':36,
    'shubham':78
}
print(marks)
print(type(marks))

{'harry': 100, 'rohan': 36, 'shubham': 78}
<class 'dict'>

In [82]:
print(marks['harry'])

100

In [83]:
marks['shubham']=73
print(marks)

{'harry': 100, 'rohan': 36, 'shubham': 73}

In [84]:
print(marks.items())

dict_items([('harry', 100), ('rohan', 36), ('shubham', 73)])

In [85]:
print(marks.keys())

dict_keys(['harry', 'rohan', 'shubham'])

In [86]:
print(marks.values())

dict_values([100, 36, 73])

In [87]:
print(marks.get('harry'))
print(marks.get('gaurav'))

100
None

In [88]:
marks.update({'harry':78,'Gaurav':89})
print(marks)

{'harry': 78, 'rohan': 36, 'shubham': 73, 'Gaurav': 89}

In [89]:
x = marks.pop('harry')   # given item remove
print(x)

78

In [90]:
print(marks)

{'rohan': 36, 'shubham': 73, 'Gaurav': 89}

In [91]:
a = marks.popitem()  # last element remove
print(a)

('Gaurav', 89)

In [92]:
print(marks)

{'rohan': 36, 'shubham': 73}

In [93]:
# Set --> unordered mutable

In [94]:
set1={}
print(type(set1))

<class 'dict'>

In [95]:
s = {1,3,53,74,86}
print(s)

{1, 3, 53, 86, 74}

In [96]:
set1 = {1 , 5 , 35 ,54,5,3,'harry'}
print(set1)
print(type(set1))

{1, 3, 35, 5, 54, 'harry'}
<class 'set'>

In [97]:
set1.add(566)
print(set1)

{1, 3, 35, 5, 54, 'harry', 566}

In [98]:
set1.remove(1)
print(set1)

{3, 35, 5, 54, 'harry', 566}

In [99]:
print(set1.pop())

3

In [100]:
print(set.clear())

None

In [101]:
s1 = {1,45,6,79}
s2 = {7,8,1,79}

In [102]:
print(s1.union(s2))

{1, 6, 7, 8, 45, 79}

In [103]:
print(s1.intersection(s2))

{1, 79}

In [104]:
print(s1.difference(s2))

{45, 6}

In [105]:
print(s1.symmetric_difference(s2))

{6, 7, 8, 45}

In [106]:
# que 1 - Write a programe to create a dictionary of hindi words with values as their english
#         transalation .Provide user with an option to look it up


words = {
    'madad':'help',
    'kursi':'chair',
    'billi':'cat'
}
word= input('Enter the word you want meaning of : ')
print(words[word])

Enter the word you want meaning of : madad
help

In [109]:
# que 2 -> can we have a set with 18(int) and 18('str') as a value in it
s={18,"18"}
print(s)

{18, '18'}

In [116]:
# que 3 what will be length of following set s
s = {20,20.0,"20"}
print(s)
print(len(s))

{20, '20'}
2

In [115]:
# que 4- s={}
# what is type of s
s = {}
print(type(s))

<class 'dict'>

In [120]:
# que 5 -> Create an empty dictionary . Allow 4 friends to enter their favorite
# language as value and use key as their names . Assume that the names are unique
d = {}

name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})

print(d)

Enter friends name : Gaurav
enter language name : Python
Enter friends name : Rohan
enter language name : Assembly
Enter friends name : Harry
enter language name : java
Enter friends name : shubham
enter language name : c
{'Gaurav': 'Python', 'Rohan': 'Assembly', 'Harry': 'java', 'shubham ': 'c'}

In [121]:
#  que 6 If the names of 2 friends are same what will happen to the programe in problem
# 6
d = {}

name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})

print(d)

# update if same key

Enter friends name : Gaurav
enter language name : Python
Enter friends name : Shubham
enter language name : C
Enter friends name : Rohan
enter language name : Java
Enter friends name : Rohan
enter language name : js
{'Gaurav': 'Python', 'Shubham': 'C', 'Rohan': 'js'}

In [122]:
# que 7 - if language of two friends are same what will happen to the programe
# in problem 6
d = {}

name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})
name = input('Enter friends name : ')
lang = input('enter language name : ')
d.update({name:lang})

print(d)

Enter friends name : Gaurav
enter language name : Python
Enter friends name : Harry
enter language name : Python
Enter friends name : Shubham
enter language name : c
Enter friends name : Rohan
enter language name : Java
{'Gaurav': 'Python', 'Harry': 'Python', 'Shubham': 'c', 'Rohan': 'Java'}

In [127]:
# que 8 -> can you change the values inside a list which is contained in set s ?
# s = {8,7,12,'harry',[1,2]}

# not because we can not add a list in set
# secondly set not allow indexing