In [ ]:
#function
#name block
#logic / statment => name
#code reuse

In [1]:
# function => code smaller part convert
# issue / debugging is quite easy

In [3]:
def func():
  x=10
  print("hey",x)

In [5]:
func()
func()

hey 10
hey 10

In [6]:
def func(y):
  x=10
  print("hey",x+y)

In [7]:
func(15)

hey 25

In [8]:
def func(y,z):
  x=10
  print("hey",x+y+z)

In [9]:
func(15,20)

hey 45

In [17]:
a=100 # a  is global variable
def func(y):  # y is local variable
  global a

  a=a+y
  print("hey",)

In [18]:
print(a)
func(15)
print(a)

100
hey
115

In [28]:
#parameter /formal parameter /informal parameter
def func(y,z):
  print( "y:",y, "z:",z)

# y ==> is required argument
#calling ==> 10 is argument
func(z=15,y=10)
# z=15 y=10 keyword argument
# 15 only position argument

y: 10 z: 15

In [31]:
def func(y,z):
  print( "y:",y, "z:",z)


func(15,z=10,)

y: 15 z: 10

In [43]:
def func(y,z=35): # z=35 default argument
  print( "y:",y, "z:",z)


func(15,99)

y: 15 z: 99

In [46]:
def func(age , salary):
    print("age:",age,"salary:",salary)

func(15,999)

age: 15 salary: 999

In [40]:
def func(*args): # variable length argument
    print("args:",args)

func(15,999)
func(1,2,3,4,5)
func(6)
func()

args: (15, 999)
args: (1, 2, 3, 4, 5)
args: (6,)
args: ()

In [49]:
def func(**kwargs): # keyword variable length argument
    print("kwArgs:",kwargs)

func(salary=15,y=20)

kwArgs: {'salary': 15, 'y': 20}

In [57]:
# fibonacci series using def function
def func(n):
  a=0
  b=1
  for i in range(1,n):
    print(a,end=" ")
    a,b=b,a+b

In [59]:
func(11)

0 1 1 2 3 5 8 13 21 34

In [62]:
# prime number  using def function
def func(x):
  a=True
  for i in range(2,x):
    if x%i==0:
      a=False
  if a==True:
    print("prime number:",x)
  else:
    print("not:",x)

In [66]:
func(7)

prime number: 7

In [76]:
def func(x,y):
  while y!=0:
    x,y=y,x%y
  print("hcf is :",x)

In [77]:
func(4,6)

hcf is : 2

In [78]:
def func(x,y):
  if x>y:
    greatest=x
  else:
    greatest=y
  while (True):
    if (greatest%x==0 and greatest%y==0):
      print("lcm is:",greatest)
      break
    else:
      greatest+=1

In [79]:
func(5,7)

lcm is: 35