In [1]:
#high order function
# if we can pass a function as a argument to another function
# all high order function are first class function

In [5]:
def func(a,b):
  print(a+b)

x=func(10,20)
print(x)

30
None

In [6]:
def func(a,b):
  print(a+b)

x=func
print(x)

<function func at 0x7e0787026f80>

In [9]:
def func(a,b):
  print(a+b)

def addNumber(x,y):
  print(x,y)

addNumber(40,func(10,20))    #addNumber(40,None)

30
40 None

In [10]:
def func(a,b):
  print(a+b)

def addNumber(x,y):
  print(x,y)

addNumber(40,func)

40 <function func at 0x7e07400fb9a0>

In [12]:
def func(a,b):
  print(a+b)

def addNumber(x,y):

  print(x,y(10,20))

addNumber(40,func)

30
40 None

In [13]:
def func(a,b):
  return a+b

def addNumber(x,y):

  print(x,y(10,20))

addNumber(40,func)

40 30

In [20]:
def square(x):
  return (x**2)

def cube(n,fnt): # n=> 4   fnt=> square
  print(n*fnt(n))

cube(6,square)

216

In [21]:
# lambda function
# lambda => annonymous functions  use for code readability
# same as normal

In [28]:
def func(x,y):
  return x+y

lambda x,y: x+y

In [31]:
func=lambda x,y: x+y
func(1,12)

13

In [34]:
def cube(x):
  out=lambda x: x**2
  print("lambda value :",out(x))

cube(4)

lambda value : 16

In [43]:
def cube(x):
  out=lambda x: x**2
  print("lambda value :",x*out(x))

cube(4)

lambda value : 64

In [44]:
for x in enumerate([10,20,30]):  # enumerate a iterables (list tuple dictionary)
  print(x)

(0, 10)
(1, 20)
(2, 30)

In [51]:
mydict={}
k=40
for x in enumerate([10,20,30]):
  value,key=x


  if key not in mydict:
    mydict[key]=value
print(mydict)

for value,key in enumerate([10,20,30]):
  if k-key in mydict and mydict[k-key]!=value:
    print(value,mydict[k-key])
    break

{10: 0, 20: 1, 30: 2}
0 2

In [5]:
buy=0
sell=1
maxi=0
mylist=[7,10,5,3,6,4]
no_days=len(mylist)

while (sell<no_days):
  if(mylist[sell] > mylist[buy]):
    profit_margin=mylist[sell]-mylist[buy]
    maxi=max(maxi, profit_margin)
  else:
    buy=sell
  sell+=1

print(maxi)

3