In [ ]:
num = [1,2,3,4,5]
fact=1
for i in num:
  fact*=i
print(fact)

120

In [ ]:
num = 12345
fact=1
while num > 0:
  rem=num%10
  fact = fact*rem
  num = num//10
print(fact)

120

In [ ]:
num = 12345
count=0
while num > 0:
  rem=num%10
  count = count+rem
  num = num//10
print(count)

15

In [ ]:
num=153
sum=0
temp=num
while num > 0:
  rem=num%10
  sum = sum+rem*rem*rem
  num = num//10
if temp==sum:
  print('Armstrong ', sum)
else:
  print('not',sum)

Armstrong  153

In [ ]:
a=0
b=1
for i in range(1,11):
  print(a,end=" ")
  a,b=b,a+b

0 1 1 2 3 5 8 13 21 34

In [ ]:
num=int(input('Enter the Number : '))
a=True
for i in range(2,num):
  if num%i ==0:
    a=False
    break
if a==True:
  print('Prime Number : ',num)
else:
  print('Not Prime ', a)

Enter the Number : 13
Prime Number :  13

In [ ]:
num1=3
num2=5
if num1>num2:
  greatest = num1
else :
  greatest=num2
while True:
  if (greatest%num1==0 and greatest%num2==0):
    print('LCM is', greatest)
    break
  else:
    greatest+=1

LCM is 15

In [ ]:
num1=4
num2=6
while num2!=0:
  num1,num2=num2,num1%num2
print('HCF IS : ',num1)

HCF IS :  2

In [ ]:
num=int(input('Enter the Number : '))
sum=0
for i in range(1,num+1):
  sum=sum+i
print(sum)

Enter the Number : 10
55

In [ ]:
num=int(input('Enter the Number : '))
for i in range(1,11):
  print(num*i)

Enter the Number : 11
11
22
33
44
55
66
77
88
99
110

In [ ]:
list1=['python', 'is', 'high', 'lever' ,'and' ,'programming' ,'language' ,'python' ,'is' ,'good' ,'language']
dict1={}
for i in list1:
  if i not in dict1:
    dict1[i]=1

  else:
    dict1[i]+=1
print(dict1)

{'python': 2, 'is': 2, 'high': 1, 'lever': 1, 'and': 1, 'programming': 1, 'language': 2, 'good': 1}

In [ ]:
def intToRoman(num):
        roman_numerals = [
                ("M", 1000),("CM", 900),("D", 500),("CD", 400),
                ("C", 100),("XC", 90),("L", 50),("XL", 40),
                ("X", 10),("IX", 9),("V", 5),("IV", 4),("I", 1)]
        res = []
        for symbol,value in roman_numerals:
            if num==0:
                break
            count = num//value
            res.append(symbol*count)
            num-= count*value
        return "".join(res)
print(intToRoman(3749))

MMMDCCXLIX