In [1]:
# 1> find digits in string ?
str1 = 'I am 25 years and 10 months old'
integer=""
for i in str1:
  if i.isdigit():
    integer+=i
print(integer)

2510

In [2]:
# 2> Pair list ?
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
pair_set=set(zip(first_list,second_list))
print(pair_set)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [3]:
# 3> sorted list
list=[4,5,6,7,8,9]
list.sort(reverse=True)
print(list)

[9, 8, 7, 6, 5, 4]

In [4]:
# 4> copy list
list1=[1,2,36,4,5]
list2=list1.copy()
print(list2)

[1, 2, 36, 4, 5]

In [5]:
# 5> Find small number in list ?
list1=[34,54,65,76,2,45]
small_num=list1[0]
for i in list1:
  if i<small_num:
    small_num=i
print(small_num)

2

In [6]:
# 6> Sum of list
list1=[1,2,3,4,5]
sum=0
for i in list1:
  sum+=i
print(sum)

15

In [7]:
# 7> Multiply list?
list1=[1,3,4,5]
fact=1
for i in list1:
  fact=fact*i
print(fact)

60

In [8]:
# 8> largest number of list ?
list1=[34,54,65,76,2,45]
large_num=list1[0]
for i in list1:
  if i>large_num:
    large_num=i
print(large_num)

76

In [9]:
# 9 Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
sample_list =[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list=sorted(sample_list,key=lambda x:x[-1])
print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [10]:
# 10 Write a Python program to remove duplicates from a list.
list1=[1,2,2,3,3,4,5,5,6,6,6]
newlist=[]
for i in list1:
  if i not in newlist:
    newlist.append(i)
print(newlist)

[1, 2, 3, 4, 5, 6]

In [11]:
# 11 Write a Python program to check if a list is empty or not.
list=[]
if not  list:
  print("list is empty")

list is empty

In [12]:
# 12 Write a Python program to find the list of words that are longer than n from a given list of words.
words=["the","orange","fox","banana"]
n=5
long_word=[word for word in words if len(word)>n]
print(long_word)

['orange', 'banana']

In [13]:
# 13> Write a Python function that takes two lists and returns True if they have at least one common member.
list1=[1,2,3,4,5]
list2=[23,6,7,8,9]
result=False
for i in list1:
  for j in list2:
    if i==j:
      result=True
print(result)

False