In [ ]:
# 1. Write a Python program to find the maximum element in a list of numbers without max functions
# numbers = [10, 20, 4, 45, 99]
# The maximum element is: 99

numbers = [10, 20, 4, 45, 99]
maximum=numbers[0]
for i in numbers:
  if i >= maximum:
    maximum=i
print(maximum)

99

In [ ]:
# 2. Write a Python program to sum all the elements in a list of numbers.
# a. numbers = [10, 20, 30, 40]
# b. The sum of all elements is: 100

numbers = [10, 20, 30, 40]
sum=0
for i in numbers:
  sum=sum+i
print(sum)

100

In [ ]:
# 3. Write a Python program to reverse a list without reverse or slicing operator
# a. numbers = [1, 2, 3, 4, 5]
# b. Reversed list: [5, 4, 3, 2, 1]

numbers = [1, 2, 3, 4, 5]
rev=[]
for i in range(len(numbers)-1,-1,-1):
  rev.append(numbers[i])
print(rev)

[5, 4, 3, 2, 1]

In [ ]:
# 4 Write a Python program to sort a list in ascending order without sort functions
list1=[5,3, 4, 6, 2, 1]
for i in range(len(list1)):
  for j in range(i+1,len(list1)):
    if list1[i]>list1[j]:
      list1[i],list1[j]=list1[j],list1[i]
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 5 Write a Python program to remove duplicates from a list while maintaining the order
# of elements.
# a. numbers = [1, 2, 2, 3, 4, 4, 5]
# b. List after removing duplicates: [1, 2, 3, 4, 5]

numbers = [1, 2, 2, 3, 4, 4, 5]

set1=set(numbers)

list1=list(set1)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
# 6. Write a Python program to find all pairs of numbers in a list that add up to a specific
# target sum.
# a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
# b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]

numbers = [1, 2, 3, 4, 3, 5, 6]
target_sum = 6
pair=[]
for i in range(len(numbers)):
  for j in range(i+1,len(numbers)):
    if numbers[i]+numbers[j]==target_sum:
      pair.append((numbers[i],numbers[j]))
print(" Pairs that add up to 6 : ",pair)

 Pairs that add up to 6 :  [(1, 5), (2, 4), (3, 3)]

In [ ]:
#  7. Write a Python program to flatten a nested list (list within lists) into a single list.
# a. nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
#  b. Flattened list: [1, 2, 3, 4, 5, 6, 7, 8

In [ ]:
# 8. Write a Python program to find the sum of the elements in a list, excluding the largest
# and smallest element. Don’t use max or min functions
# a. numbers = [1, 2, 3, 4, 5]
# b. Sum excluding the largest and smallest element: 9

numbers = [1, 2, 3, 4, 5]
sum=0
for i in range(1,len(numbers)-1):
  sum = sum+numbers[i]
print(sum)

9

In [ ]:
# 9. Write a Python program to check if a list is a palindrome (reads the same backward
# as forward) using two pointer approach
# a. numbers = [1, 2, 3, 2, 1]
# b. True

numbers = [1, 2, 3, 3, 2, 1]
i = 0
j = len(numbers)-1
flag = 1
while i<=j:
    if numbers[i]==numbers[j]:
        i+=1
        j-=1
    else:
        flag = 0
        break
if flag:
    print("list is palindrome :",True)
else:
    print("list is palindrome :",False)

list is palindrome : True

In [ ]:
# 10. Write a function to remove duplicate elements from a list.
# a. numbers = [1, 2, 3, 2, 4, 5, 1, 6]
# b. [1, 2, 3, 4, 5, 6]
def func(numbers):
  duplicate=[]
  for i in numbers:
    if i not in duplicate:
      duplicate.append(i)
  return duplicate
numbers = [1, 2, 3, 2, 4, 5, 1, 6]
print(func(numbers))

[1, 2, 3, 4, 5, 6]

In [ ]:
# 11. Find Common Elements in Two Lists
# a. list1 = [1, 2, 3, 4, 5]
# b. list2 = [3, 4, 5, 6, 7]
# c. Result: [3, 4, 5]

list1=[1,2,3,4,6]
list2=[3,4,5,6,7]
list3=[]
for i in list1:
  for j in list2:
    if i==j:
      list3.append(i)
print(list3)

[3, 4, 6]

In [ ]:
# 12. Find the Longest Word in a List
# a. words = ["apple", "banana", "strawberry", "kiwi"]
# b. Strawberry

words = ["apple", "banana", "strawberry", "kiwi"]
di={}
for i in words:
    a=len(i)
    if i not in di:
        di[i]=a
b=0
di1=""
for j in di:
    if di[j]>b:
        b=di[j]
        di1=j
di1

'strawberry'

In [ ]:
# 13. Find Missing Number in a List
nums=[40,41,43,44,45]
for i in range(40,46):
  if i not in nums:
    print(i)

42

In [ ]:
# 14. Find Missing Number in a List
# You are given a list of n-1 numbers in the range 1 to n. One number is missing
# from the sequence. Find the missing number.
# a. numbers = [1, 2, 4, 5, 6]
# b. 3

numbers = [1, 2, 4, 5, 6]
for i in range(1,len(numbers)):
  if i not in numbers:
    print(i)

3

In [18]:
# 15. Find the First Non-Repeating Element
# Given a list of integers, find the first element that appears only once.
# a. numbers = [4, 5, 1, 2, 0, 4, 5, 2]
# b. Expected Output: 1

numbers = [4, 5, 1, 2, 0, 4, 5, 2]

for i in numbers:
    if numbers.count(i) == 1:
        print(i)
        break

1

In [15]:
# 16. Move All Zeros to the End
# Given a list of integers, move all zeros to the end while maintaining the relative order
# of non-zero elements. Don’t use any inbuilt functions
# a. numbers = [0, 1, 0, 3, 12]
# b. [1, 3, 12, 0, 0]
numbers = [0, 1, 0, 3, 12]
i=0
for j in range(0,len(numbers)):
    if numbers[j]!=0:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        i+=1
print(numbers)

[1, 3, 12, 0, 0]

In [13]:
# 17. Find Elements Greater Than Their Left Neighbor
# # a. numbers = [1, 3, 2, 6, 5, 8, 7]
# # b. [3, 6, 8]
numbers = [1, 3, 2, 6, 5, 8, 7]
li=[]
for i in range(0,len(numbers)):
    for j in range(i+1,len(numbers)):
        if numbers[i]<numbers[i+1] and numbers[i+1] not in li:
            li.append(numbers[i+1])
print(li)

[3, 6, 8]

In [17]:
# 18. Find Triplets That Sum to Zero
# Given a list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.
# a. numbers = [-1, 0, 1, 2, -1, -4]
# b. Expected Output: [(-1, -1, 2), (-1, 0, 1)]
numbers = [-1, 0, 1, 2, -1, -4]
li=[]
numbers.sort()
for i in range(0,len(numbers)):
    k=i+1
    j=len(numbers)-1
    while k<j:
        if numbers[i]+numbers[j]+numbers[k]==0:
            if [numbers[i],numbers[j],numbers[k]] not in li:
                li.append((numbers[i],numbers[j],numbers[k]))
            k+=1
            j-=1
        elif numbers[i]+numbers[j]+numbers[k]<0:
            k+=1
        else:
            j-=1
print(li)

[(-1, 2, -1), (-1, 1, 0), (-1, 1, 0)]