In [ ]:
#  Print All Elements of a List
list=[1,2,3,4,5]
new_list=[]
for i in list:
  new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5]

In [ ]:
#  Sum of All Elements
list1=[1,2,3,4,5]
sum=0
for i in list1:
  sum+=i
print(sum)

15

In [ ]:
#  Product of All Elements
list1=[1,2,3,4,5]
product=1
for i in list1:
  product*=i
print(product)

120

In [ ]:
#  Find the Maximum Value
list=[10,22,3,33,54,76,56]
max=list[0]
for i in list:
  if i>max:
    max=i
print(max)

76

In [ ]:
#  Find the Minimum Value
list=[10,22,3,33,54,76,56]
min=list[0]
for i in list:
  if i<min:
    min=i
print(min)

3

In [ ]:
#  Access the Middle Element
list=[2,4,6,8,10,12]
for i in range(len(list)):
  if i==len(list)//2 or i==len(list)//2-1:
    print(list[i],end=" ")

6 8

In [ ]:
#  Reverse a List
list=[1,2,3,4,5]
for i in range(len(list)-1,-1,-1):
  print(list[i],end=' ')

5 4 3 2 1

In [ ]:
# Count Occurrences of an Element
list1=[1,2,2,2,3,3,4,4,4,4,4,4,5,5,6]
specific_value=4
count=0
for i in list1:
  if i==specific_value:
    count+=1
print(f"specific element {specific_value} present in {count} times")

specific element 4 present in 6 times

In [ ]:
#  Remove All Occurrences of a Specific Element
list1=[1,2,2,2,3,3,4,4,4,4,4,4,5,5,6]
result=[]
specific_value=4
for i in list1:
  if i!=specific_value:
    result.append(i)
print(result)

[1, 2, 2, 2, 3, 3, 5, 5, 6]

In [ ]:
#  Remove Duplicates
list1=[1,2,2,2,3,3,4,4,5,6,7]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#  Create a List of Even Numbers
list=[]
for i in range(1,11):
  if i%2==0:
    list.append(i)
print(list)

[2, 4, 6, 8, 10]

In [ ]:
#  Create a List of Odd Numbers
list=[]
for i in range(1,11):
  if i%2!=0:
    list.append(i)
print(list)

[1, 3, 5, 7, 9]

In [ ]:
#  Sum of Even Numbers
list=[2, 4, 6, 8, 10]
sum=0
for i in list:
  sum+=i
print(sum)

30

In [ ]:
#  Sum of Odd Numbers
list=[1, 3, 5, 7, 9]
sum=0
for i in list:
  sum+=i
print(sum)

25

In [ ]:
#  Check if a List is Palindromic
list1 = [1, 2, 3, 2, 1]
is_palindrome = True

start = 0
end = len(list1) - 1

while start < end:
    if list1[start] != list1[end]:
        is_palindrome = False
        break
    start += 1
    end -= 1

if is_palindrome:
    print("The list is a palindrome.")
else:
    print("The list is not a palindrome.")

The list is a palindrome.

In [ ]:
#  Find the Index of an Element
list1=[1,2,2,2,3,3,4,4,4,4,4,4,5,5,6]
specific_value=4
for i in list1:
  if list[i]==specific_value:
    print(f"specific element {specific_value} indexing is {i}")

In [ ]:
#  Find the Last Index of an Element
list1=[1,2,2,2,3,3,4,4,4,4,4,4,5,5,6]
specific=5
for i in range(len(list1)-1,-1,-1):
  if list1[i]==specific:
    print(f"specific element {specific} indexing is {i}")

specific element 5 indexing is 5

In [ ]:
#  Merge Two Lists into One
list1=[1,2,3]
list2=[4,5,6]
for i in list2:
  list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
merged_list=list1+list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#  Create a New List by Doubling Each Value
list1=[1,2,3,4,5,6]
new_list=[]
for i in list1:
  new_list.append(i*2)
print(new_list)

[2, 4, 6, 8, 10, 12]

In [ ]:
#  Access List Indices
list1=[1,2,3,4,5,6,7]
for index,value in enumerate(list1):
  print(index,value)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [ ]:
#  Convert List to String
s = ['a', 'b', 'c', 'd']
str1=''.join(s)
print(str1)

abcd

In [ ]:
# Find Index of List Item
list1=[10,20,30,40]
print(list1.index(30))

2

In [ ]:
#  Append One List to Another
list1=[1,2,3,4]
list2=[5,6,7,8]
for i in list2:
  list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#  Find Second Largest Number in List
list1=[11,23,3,4,5,65,45,32]
largest=list1[0]
second_largest=list1[0]
for i in list1:
  if i > largest:
    second_largest=largest
    largest=i
  elif i > second_largest and i != largest:
    second_largest=i
print(largest,second_largest)

65 45

In [ ]:
#  Find Second Smallest Number in List
list1=[11,23,3,4,5,65,45,32]
smallest=list1[0]
second_smallest=list1[0]
for i in list1:
  if i < smallest:
    second_smallest=smallest
    smallest=i
  elif i < second_smallest and i != smallest:
    second_smallest=i
print("second_smallest :" , second_smallest)
print("smallest :",smallest)

second_smallest : 4
smallest : 3

In [ ]:
#  Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
letter=0
digit=0
special_symbol=0
for i in str1:
  if i.isalpha():
    letter+=1
  elif i.isdigit():
    digit+=1
  else:
    special_symbol+=1
print("letter",letter)
print("digit :",digit)
print("special_symbol :",special_symbol)

letter 8
digit : 3
special_symbol : 4

In [ ]:
#  extract all the emailid for the given string
string = "Hi my name is Govind Das and my mail id is milindmali108@gmail.com and my org"
str=string.split()
email_id=''
for char in str:
  if '@' in char and '.' in char:
    email_id=char
    break
print(email_id)

milindmali108@gmail.com

In [ ]:
str1 = 'I am 25 years and 10 months old'
integer=''
for i in str1:
  if i.isdigit():
    integer+=i
print(integer)

2510

In [ ]:
list1 = [2, 3, 4, 5, 6, 7, 8]
list2 = [4, 9, 16, 25, 36, 49, 64]
pair=list(zip(list1,list2))
print(pair)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

In [ ]:
str1="hey@hello@user"
parts=str1.split('@')
parts.reverse()
output='@'.join(parts)
print(output)

user@hello@hey