In [ ]:
# Write a Python program to get unique values from a list.
list1=[10,20,20,30,40,40,40]
myset=set(list1)
print(myset)

{40, 10, 20, 30}

In [ ]:
# Write a Python program to get the frequency of elements in a list.
list1=[10,20,20,30,40,40,40]
d={}
for i in list1:

    d[i]=d.get(i,0)+1

print(d)

{10: 1, 20: 2, 30: 1, 40: 3}

In [ ]:
# Write a Python program to count the number of elements in a list within a specified range.
list1= [1, 5, 8, 12, 15, 18, 22, 25, 30]
low=10
high=20
count = sum(1 for i in list1 if low <= i <= high)

print(f"Number of elements in range [{low}, {high}]:", count)

Number of elements in range [10, 20]: 3

In [ ]:
#  Check if a Number is Even or Odd
l=[]
for i in range(1,101):
  if i%2==0:
    print('Even number',i,end=' ')
  else:
    print('odd number', i,end=' ')

odd number 1 Even number 2 odd number 3 Even number 4 odd number 5 Even number 6 odd number 7 Even number 8 odd number 9 Even number 10 odd number 11 Even number 12 odd number 13 Even number 14 odd number 15 Even number 16 odd number 17 Even number 18 odd number 19 Even number 20 odd number 21 Even number 22 odd number 23 Even number 24 odd number 25 Even number 26 odd number 27 Even number 28 odd number 29 Even number 30 odd number 31 Even number 32 odd number 33 Even number 34 odd number 35 Even number 36 odd number 37 Even number 38 odd number 39 Even number 40 odd number 41 Even number 42 odd number 43 Even number 44 odd number 45 Even number 46 odd number 47 Even number 48 odd number 49 Even number 50 odd number 51 Even number 52 odd number 53 Even number 54 odd number 55 Even number 56 odd number 57 Even number 58 odd number 59 Even number 60 odd number 61 Even number 62 odd number 63 Even number 64 odd number 65 Even number 66 odd number 67 Even number 68 odd number 69 Even number 70 odd number 71 Even number 72 odd number 73 Even number 74 odd number 75 Even number 76 odd number 77 Even number 78 odd number 79 Even number 80 odd number 81 Even number 82 odd number 83 Even number 84 odd number 85 Even number 86 odd number 87 Even number 88 odd number 89 Even number 90 odd number 91 Even number 92 odd number 93 Even number 94 odd number 95 Even number 96 odd number 97 Even number 98 odd number 99 Even number 100

In [ ]:
#  Swap Two Numbers Without Using a Third Variable
a=int(input('Enter the number of A : '))
b=int(input('Enter the number of B : '))
c=int(input('Enter the number of C : '))
a=a+b
b=a-b
a=a-b
print(a,b)

Enter the number of A : 10
Enter the number of B : 20
Enter the number of C : 30
20 10

In [ ]:
#  Check if a Number is an Armstrong Number
num=153
temp=num
sum=0
while num>0:
  rem=num%10
  sum=sum+rem**3
  num=num//10
if temp==sum:
  print('Armstrong')
else:
  print('Not')

Armstrong

In [ ]:
# Find Factorial of a Number
num=int(input('Enter the number : '))
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

Enter the number : 5
120

In [ ]:
#  Print Fibonacci Series up to N Terms
n=int(input('Enter the number : '))
a,b=0,1
for i in range(n):
  print(a,end=' ')
  a,b=b,a+b

Enter the number : 5
0 1 1 2 3

In [ ]:
# Find the Sum of Digits of a Number
n=int(input('Enter the number : '))
temp=n
sum=0
while n>0:
  rem=n%10
  sum=sum+rem
  n=n//10
print(sum)