In [1]:
# List --> collection of items
# List are mutable datatype

In [2]:
friends = ['Apple','Orange',5,345,False,'Aakash','Rohan']
friends[0]

'Apple'

In [4]:
friends[0]='Grapes'
print(friends)

['Grapes', 'Orange', 5, 345, False, 'Aakash', 'Rohan']

In [5]:
print(friends[6])

Rohan

In [6]:
print(friends[1:6])

['Orange', 5, 345, False, 'Aakash']

In [7]:
friends.append('Gaurav')
print(friends)

['Grapes', 'Orange', 5, 345, False, 'Aakash', 'Rohan', 'Gaurav']

In [10]:
l1 = [1,32,31,34,2,6]
l1.sort()
print(l1)

[1, 2, 6, 31, 32, 34]

In [11]:
l1.reverse()
print(l1)

[34, 32, 31, 6, 2, 1]

In [18]:
list1=[1,3,5,46,77,43]
list1.insert(3,99)
print(list1)

[1, 3, 5, 99, 46, 77, 43]

In [19]:
list1.pop(4)   # remove define index value
print(list1)

[1, 3, 5, 99, 77, 43]

In [20]:
list1.pop()   # last value remove if we can not define index
print(list1)

[1, 3, 5, 99, 77]

In [ ]:
# Tuple --> collection of data
# immutable datatype

In [21]:
a = (1,2,3,5)
print(type(a))

<class 'tuple'>

In [22]:
a=()
print(type(a))

<class 'tuple'>

In [23]:
a=(1)
print(type(a))

<class 'int'>

In [24]:
a=(1,)
print(type(a))

<class 'tuple'>

In [27]:
a=(1,45,342,3432,False,45,'Rohan','Shivam')
print(a)

(1, 45, 342, 3432, False, 45, 'Rohan', 'Shivam')

In [28]:
v=a.count(45)
print(v)

2

In [29]:
i = a.index(45)
print(i)

1

In [31]:
# que 1  - Write a python programe to store 7 fruits in a list entered
#  by the users
fruits = []
f1=input("Enter fruits name : ")
fruits.append(f1)
f2=input("Enter fruits name : ")
fruits.append(f2)
f3=input("Enter fruits name : ")
fruits.append(f3)
f4=input("Enter fruits name : ")
fruits.append(f4)
f5=input("Enter fruits name : ")
fruits.append(f5)
f6=input("Enter fruits name : ")
fruits.append(f6)
f7=input("Enter fruits name : ")
fruits.append(f7)
print(fruits)

Enter fruits name : mango
Enter fruits name : water malon
Enter fruits name : grapes
Enter fruits name : apple
Enter fruits name : papaya
Enter fruits name : orange
Enter fruits name : pineapple
['mango', 'water malon', 'grapes', 'apple', 'papaya', 'orange', 'pineapple']

In [34]:
# que 2 - Write a python programe to accept marks of 6 students and display
# them in a sorted manner
marks = []
m1=int(input("Enter marks : "))
marks.append(m1)
m2=int(input("Enter marks : "))
marks.append(m2)
m3=int(input("Enter marks : "))
marks.append(m3)
m4=int(input("Enter marks : "))
marks.append(m4)
m5=int(input("Enter marks : "))
marks.append(m5)
m6=int(input("Enter marks : "))
marks.append(m6)
marks.sort()
print(marks)

Enter marks : 65
Enter marks : 32
Enter marks : 45
Enter marks : 99
Enter marks : 86
Enter marks : 78
[32, 45, 65, 78, 86, 99]

In [36]:
# que 3 - Check that a tuple type cannot changed in python
a = (34,343,'Harry')
a[2]='larry'
print(a)

TypeError: 'tuple' object does not support item assignment

In [39]:
# que 4 -- Write a programe to sum a list with 4 number
list1=[2,3,6,2]
print(sum(list1))

13

In [41]:
# que 5 - Write a programe to count the number of zeros the following tuple
a=(7,0,8,0,9)
n=a.count(0)
print(n)

2