In [ ]:
# LCM => Least Common multiplier
# 11 ,2
x=2
y=17
if (x>y):
  greatest=x
else:
  greatest=y
while(True):
  if (greatest%x==0 and greatest%y==0):
    print("LCM is",greatest)
    break
  else:
    greatest+=1

LCM is 34

In [ ]:
num=134
total=0
while(num>0):
  rem=num%10
  total=total+rem
  num=num//10
print(total)

8

In [ ]:
num=3241
product=1
while(num>0):
  rem=num%10
  product=product*rem
  num=num//10
print(product)

24

In [ ]:
num=54321
fact=1
while(num>0):
  rem=num%10
  fact=fact*rem
  num=num//10
print(fact)

120

In [ ]:
# Factorial
num=30
x=1
while(x<=num):
  if(num%x==0):
    print("factorial",x)
  x+=1

factorial 1
factorial 2
factorial 3
factorial 5
factorial 6
factorial 10
factorial 15
factorial 30

In [ ]:
 # Armstrong
num=153
sum=0
temp=num
while(num>0):
  rem=num%10
  sum=sum+rem*rem*rem
  num=num//10
if (temp==sum):
  print('Armstrong')
else:
  print('Not Armstrong')

Armstrong

In [ ]:
# Palindrome
num=121
sum=0
temp=num
while(num>0):
  rem=num%10
  sum=sum*10+rem
  num=num//10
if (temp==sum):
  print("palindrome",sum)
else:
  print("not palindrome")

In [ ]:
# Nested loop
i=1
for i in range(1,4):
  print("hey",i)

  for j in range(10,12):
    print("hello",j)

hey 1
hello 10
hello 11
hey 2
hello 10
hello 11
hey 3
hello 10
hello 11

In [ ]:
for student in range(1,6):
  print("student :",student)
  for subject in range(1,4):
    print("subject",subject)

student : 1
subject 1
subject 2
subject 3
student : 2
subject 1
subject 2
subject 3
student : 3
subject 1
subject 2
subject 3
student : 4
subject 1
subject 2
subject 3
student : 5
subject 1
subject 2
subject 3

In [ ]:
num=2
for i in range(1,11):
  print( num*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(2,6):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [ ]:
for x in range(2,10):
  for i in range(1,x+1):
    if x%i == 0:
      print("factor",i)
  print("-----")

factor 1
factor 2
-----
factor 1
factor 3
-----
factor 1
factor 2
factor 4
-----
factor 1
factor 5
-----
factor 1
factor 2
factor 3
factor 6
-----
factor 1
factor 7
-----
factor 1
factor 2
factor 4
factor 8
-----
factor 1
factor 3
factor 9
-----

In [ ]:
# Loop through numbers from 100 to 400
for num in range(100, 401):
    hundreds = num // 100
    tens = (num // 10) % 10
    ones = num % 10
    sum_of_cubes = (hundreds ** 3) + (tens ** 3) + (ones ** 3)
    if num == sum_of_cubes:
        print(num)

153
370
371

In [ ]:
for num in range(100,600):
  hundreds=num//100
  tens=(num//10)%10
  one=num%10
  sum_of_cubes=(hundreds**3)+(tens**3)+(one**3)
  if num==sum_of_cubes:
    print(num)

153
370
371
407

In [ ]:
for i in range(1,5):

  for j in range(1,5):
    print("*",end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if (i==1 or i==4 or j==1 or j==4):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * *
*     *
*     *
* * * *