In [ ]:
# map =>
# iterable value
# function

In [ ]:
for i in range()
# fix memory allocate

In [ ]:
mylist=[10,20,30]

def square(num):
  return num**2

out = map(square, mylist)
next(out)

100

In [ ]:
next(out)

400

In [ ]:
next(out)

900

In [ ]:
mylist=[10,20,30]

def square(num):
  return num**2

list( map(square, mylist))

[100, 400, 900]

In [ ]:
mylist=[10,20,30]

def square(num):
  return num**2

list( map(lambda num: num**2 , mylist))

[100, 400, 900]

In [ ]:
list( map(lambda num: num%3==0 , mylist))

[False, False, True]

In [ ]:
list( filter(lambda num: num%3==0 , mylist))

[30]

In [ ]:
# Exception handling
# handling the error => code terminate
#two part
#1> try
#2> except

In [ ]:
try:
  print(10)
  print(num123)

except NameError as e:
  print("error occured",e)

10
error occured name 'num123' is not defined

In [ ]:
try:
  print(10)
  "hey"+20
  print(num123)

except (NameError,TypeError) as e:
  print("error occured",e)

10
error occured can only concatenate str (not "int") to str

In [ ]:
try:
  print(10)
  print(num123)
  "hey"+20

except (NameError,TypeError) as e:
  print("error occured",e)

except Exception as e:
  print("All Error Occured",e)

10
error occured name 'num123' is not defined

In [ ]:
try:
  print(10)
  print(num123)
  "hey"+20

except (NameError,TypeError) as e:
  print("error occured",e)

except Exception as e:
  print("All Error Occured",e)

finally:  # always execute
  print("hey")

10
error occured name 'num123' is not defined
hey

In [ ]:
def threeSumSmaller(nums, target):
    # Sort the array first
    nums.sort()
    count = 0

    # Loop through each element and apply the two-pointer approach
    for i in range(len(nums) - 2):
        left, right = i + 1, len(nums) - 1

        while left < right:
            # Calculate the sum of the current triplet
            if nums[i] + nums[left] + nums[right] < target:
                # All combinations between left and right are valid
                count += (right - left)
                left += 1  # Move left pointer right to increase the sum
            else:
                right -= 1  # Move right pointer left to decrease the sum

    return count