In [ ]:
#sol 1
list1=[1,2,3]
list2=['a','b','c']
for i in list1:
  for j in list2:
    print(i,j)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [ ]:
#sol 2
nested_list=[[1, 2, 3], [4, 5], [6]]
sum=0
for i in nested_list:
  for j in i:
    sum=sum+j
print(sum)

21

In [ ]:
#sol 3
matrix=[[1,2,3],[4,5,6],[7,8,9]]
transported_matrix=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range(3):
    transported_matrix[j][i]=matrix[i][j]
print(transported_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#sol 4
string='hello world'
vowels='aeiouAEIOU'
COUNT=0
for i in string:
  if i in vowels:
    COUNT=COUNT+1
print(COUNT)

3

In [ ]:
# sol 5
for num in range(2, 101):
  is_prime=True
  for i in range(2,int(num**0.5)+1):
    if num%i==0:
      is_prime=False
      break
  if is_prime:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#sol 6
matrix1=[[1,2],[3,4]]
matrix2=[[5,6],[7,8]]
result=[[0,0],[0,0]]
for i in range(len(matrix1)):
  for j in range(len(matrix2[0])):
    result[i][j] = matrix1[i][j] + matrix2[i][j]
for row in result:
  print(result)

[[6, 8], [10, 12]]
[[6, 8], [10, 12]]

In [ ]:
#sol 7
matrix=[[1,2,3],[12,15,17],[19,20,43]]
max_value=matrix[0][0]
for i in matrix:
  for j in i:
    if max_value < j:
      max_value=j
print(max_value)

43

In [ ]:
#sol 8
list1=[1,2]
list2=[3,4]
cartesian_product=[]
for i in list1:
  for j in list2:
    cartesian_product.append((i,j))
print(cartesian_product)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
#sol 9
for i in range(1,11):
  for j in range(1,11):
    print(f'{i *j:4}',end='  ')
  print()

   1     2     3     4     5     6     7     8     9    10
   2     4     6     8    10    12    14    16    18    20
   3     6     9    12    15    18    21    24    27    30
   4     8    12    16    20    24    28    32    36    40
   5    10    15    20    25    30    35    40    45    50
   6    12    18    24    30    36    42    48    54    60
   7    14    21    28    35    42    49    56    63    70
   8    16    24    32    40    48    56    64    72    80
   9    18    27    36    45    54    63    72    81    90
  10    20    30    40    50    60    70    80    90   100

In [ ]:
#sol 10
list1=[1,2,3,4]
list2=[3,4,5,6]
common_elements=[]
for i in list1:
  for j in list2:
    if i==j:
      common_elements.append(i)
print(common_elements)

[3, 4]

In [ ]:
#sol 11
list=[[1,2,3],[4,5,6],[7,8,9]]
flattend_list=[]
for i in list:
  for j in i:
    flattend_list.append(j)
print(flattend_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#sol 12
nested_list=[[1,2,3],[3,4,5],[3,6,7]]
specific_element=3
count=0
for i in nested_list:
  for j in i:
    if j==specific_element:
      count=count+1
print(f'this element {specific_element} appears {count} times in nested_list')

this element 3 appears 3 times in nested_list

In [ ]:
#sol 13
nested_list = [[1, 2, 3], [2, 3, 4], [4, 5, 6]]
unique_elements = []
for sublist in nested_list:
    for element in sublist:
        if element not in unique_elements:
            unique_elements.append(element)
print(unique_elements)

[1, 2, 3, 4, 5, 6]

In [ ]:
#sol 14
matrix=[
        [1,2,3],
        [4,5,6],
        [7, 8,9]
]
row_sums=[]
for row in matrix:
  row_sums.append(sum(row))
print(row_sums)

[6, 15, 24]

In [ ]:
# sol 15
nested_list=[[1,2,3],[3,4,5],[3,7]]
for i in range(len(nested_list)):
  print(f"Length of sublist {i + 1}: {len(nested_list[i])}")

Length of sublist 1: 3
Length of sublist 2: 3
Length of sublist 3: 2

In [ ]:
# sol 16
matrix1=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
matrix2=[
    [1,2,4],
    [3,5,6],
    [8,7,9]
]
count=0
for i in range(len(matrix1)):
  for j in range(len(matrix2[i])):
    if matrix1[i][j]==matrix2[i][j]:
      count+=1
print(f'number of same element present in:{count}')

number of same element present in:5

In [ ]:
#sol 17
list1=[1,2,3,4]
list2=[3,4,5,6]
common_element=[]
for i in list1:
  for j in list2:
    if i==j:
      common_element.append(i)
print(common_element)

[3, 4]

In [ ]:
#sol 18
name=['Arav','Raj','Virat']
age=[33,43,35]
name_age=[]
for i in range(len(name)):
  for j in range(len(age)):
    if i==j:
      name_age.append((name[i],age[j]))
print(name_age)

[('Arav', 33), ('Raj', 43), ('Virat', 35)]

In [ ]:
#sol 19
list1=[1,2,3,4]
for i in range(len(list1)):
  for j in range(i+1,len(list1)):
    print(list1[i],list1[j])

1 2
1 3
1 4
2 3
2 4
3 4

In [ ]:
#sol 20
string=['hello','python','world','mango']
count=0
specific_character='o'
for i in string:
  for j in i:
    if j==specific_character:
      count=count+1
print(f'the character {specific_character} appears :{count}')

the character o appears :4

In [ ]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
transposed_matrix=[]
for i in range(len(matrix[0])):
  for j in range(len(matrix)):
    transposed_matrix.append(matrix[j][i])
print(transposed_matrix)

[1, 4, 7, 2, 5, 8, 3, 6, 9]