In [ ]:
a=10
print(type(a))
print(id(a))

<class 'int'>
133718281699856

In [ ]:
num=a
print(id(num))
num=20
print(id(num), "a:" , id(a))

133718281699856
133718281700176 a: 133718281699856

In [ ]:
a=500
x=a
x is a
x==a

True

In [ ]:
a=500
x=500
print(id(a), id(x))
x is a

133717852853232 133717852861904

False

In [ ]:
for row in range(1,5):
  for col in range(1,row+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for row in range(1,4):
  for col in range(1,4):
    print(row,end=" ")
  print()

1 1 1
2 2 2
3 3 3

In [39]:
for row in range(1,4):
  for col in range(1,5):
    print(col,end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for row in range(1,5):
  for col in range(4,0,-1):
    print(row,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for row in range(4,0,-1):
  for col in range(4,0,-1):
    print(row,end=" ")
  print()

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [ ]:
n=1
for row in range(1,5):
  for col in range(row):
    print(n,end=" ")
    n+=1
  print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
for row in range(10,14):
  for col in range(10,14):
    print(col,end=" ")
  print()

10 11 12 13
10 11 12 13
10 11 12 13
10 11 12 13

In [ ]:
for row in range(1,5):
  for col in range(1,row+1):
    print("1",end=" ")
  print()

1
1 1
1 1 1
1 1 1 1

In [ ]:
for i in range(1,5):
  for j in range(5,i,-1):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:

for i in range(4,0,-1):
  for j in range(i):
    print(i,end=" ")
  print()

4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i):
    print(j,end=" ")
  print()

1 2 3 4
1 2 3
1 2
1

In [ ]:
n=1
for i in range(4,0,-1):
  for j in range(i):
    print(n,end=" ")
    n+=1
  print()

1 2 3 4
5 6 7
8 9
10

In [ ]:
for i in range(11,6,-1):
  for j in range(7,i):
    print(j,end=" ")
  print()

7 8 9 10
7 8 9
7 8
7

In [3]:
for row in range(5,2,-1):
  for x in range(2,row):
    print("$",end=" ")
  print()

$ $ $
$ $
$

In [4]:
n=4
for row in range(1,n+1):
  for x in range(row,n+1):
    print("$",end=" ")
  print()

$ $ $ $
$ $ $
$ $
$

In [5]:
n=4
num=4
for row in range(1,n+1):
  for x in range(row,n+1):
    print(num,end=" ")
  num-=1
  print()

4 4 4 4
3 3 3
2 2
1

In [8]:
n=4
for row in range(1,n+1):
  num=65
  for x in range(row,n+1):
    print(chr(num),end=" ")
    num+=1
  print()

A B C D
A B C
A B
A

In [11]:
ord("A")
# ord to print ascii value

65

In [12]:
#chr to print character based on ascii value
chr(65)

'A'

In [20]:
n=4
num=20
for row in range(1,n):
  for x in range(row,n+1):
    print(num,end=" ")
    num+=1
  print()

20 21 22 23
24 25 26
27 28

In [24]:
n=4
num=68
for row in range(1,n+1):
  for x in range(1,row+1):
    print(chr(num),end=" ")
    num+=1
  print()

D
E F
G H I
J K L M

In [27]:
n=4
num=90
for row in range(1,n):
  for x in range(row,n):
    print(chr(num),end=" ")
  num-=1
  print()

Z Z Z
Y Y
X

In [28]:
n=4
num=4
for row in range(1,n):
  for x in range(1,row+1):
    print(num,end=" ")
    num+=2
  print()

4
6 8
10 12 14

In [29]:
n=4
num=2
for row in range(1,n):
  for x in range(row,n+1):
    print(num,end=" ")
    num*=2
  print()

2 4 8 16
32 64 128
256 512

In [35]:
n=4
for row in range(1,n):
  for x in range(1,row+1):
    print("*",end=" ")
  print()
for row in range(1,n+1):
  for x in range(row,n+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [37]:
n=4
for row in range(1,n):
  for x in range(row,n+1):
    print("*",end=" ")
  print()

for row in range(1,n+1):
  for x in range(1,row+1):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*
* *
* * *
* * * *