In [3]:
# que 1
def func(n):
  for row in range(1,n+1):
    num=65
    for col in range(1,row+1):
      print(chr(num),end=" ")
      num+=1
    print()

func(5)

A
A B
A B C
A B C D
A B C D E

In [5]:
# que 2
def func(n):
  for i in range(1,6):
    for j in range(1,i+1):
      if i==5 or j==1 or i==j:
        print(n,end=" ")
        n+=1
      else:
        print(" ",end=" ")

    print()

func(1)

1
2 3
4   5
6     7
8 9 10 11 12

In [6]:
# Que 3
def func(n):
  for row in range(1,n+1):
    for col in range(1,2*n):
      if row==4 or row+col==n+1 or col-row==n-1:
       print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

func(4)

      *
    *   *
  *       *
* * * * * * *

In [17]:
#Que 4
def func(n):
  for row in range(n,0,-1):
    for s in range(n-row):
      print(" ",end=" ")
    for col in range(1,row+1):
      if row==5 or col==row  or col==1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

func(5)

* * * * *
  *     *
    *   *
      * *
        *

In [18]:
# Que 5
def func(n):
  for row in range(1,n+1):
    for s in range(n-row):
      print(" ",end=" ")
    for col in range(1,row+1):
      if row==5 or col==row  or col==1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

func(5)

        *
      * *
    *   *
  *     *
* * * * *

In [20]:
#que 6
def func(n):
  for row in range(1,n):
    for s in range(n-row):
      print(" ",end="")
    for col in range(1,row+1):
      print("*",end="")
    print()
  for row in range(n,0,-1):
    for s in range(n-row):
      print(" ",end="")
    for col in range(1,row+1):
      print("*",end="")
    print()

func(4)

   *
  **
 ***
****
 ***
  **
   *

In [21]:
# que 7
def func(n):
  for row in range(n,0,-1):
    for s in range(n-row):
      print(" ",end=" ")
    for col in range(1,2*row):
      print(col,end=" ")
    print()
  for row in range(2,n+1):
    for s in range(n-row):
      print(" ",end=" ")
    for col in range(1,2*row):
      print(col,end=" ")
    print()

func(5)

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [22]:
# que 8
def func(n):
  for row in range(1,n+1):
    num=65
    for col in range(1,n+1):
      if row==1 or row==5 or col==1 :
        print(chr(num),end=" ")
        num+=1
      elif col==5:
        print("E",end=" ")
      else:
        print(" ",end=" ")
    print()

func(5)

A B C D E
A       E
A       E
A       E
A B C D E

In [23]:
# que 9
def func(n):
  for row in range(1,n+1):
    for col in range(1,2*n):
      if row==5 or col==5 or row+col==6 or col-row==4:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

func(5)

        *
      * * *
    *   *   *
  *     *     *
* * * * * * * * *

In [25]:
# que 10
def func(n):
  for row in range(n,0,-1):
    for col in range(row,0,-1):
      print("*",end=" ")
    for s in range(2*(n-row)):
      print(" ",end=" ")
    for col in range(row,0,-1):
      print("*",end=" ")
    print()
  for row in range(n):
    for col in range(row+1):
      print("*",end=" ")
    for s in range(2*(n-row-1)):
      print(" ",end=" ")
    for col in range(row+1):
      print("*",end=" ")
    print()


func(4)

* * * * * * * *
* * *     * * *
* *         * *
*             *
*             *
* *         * *
* * *     * * *
* * * * * * * *

In [34]:
# que 11
def func(n):
  for row in range(n):
    for col in range(row+1):
      print("*",end=" ")
    for s in range(2*(n-row-1)):
      print(" ",end=" ")
    for col in range(row+1):
      print("*",end=" ")
    print()
  for row in range(n-1,0,-1):
    for col in range(row,0,-1):
      print("*",end=" ")
    for s in range(2*(n-row)):
      print(" ",end=" ")
    for col in range(row,0,-1):
      print("*",end=" ")
    print()

func(4)

*             *
* *         * *
* * *     * * *
* * * * * * * *
* * *     * * *
* *         * *
*             *

In [39]:
# que 12
def func(n):
  for i in range(n):
    for j in range(n):
      if i+j==4 or j-i==4 or i-j==4 or j+i==12:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
func(9)

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [35]:
# que 13
def func(n):
  for row in range(1,n):
    for s in range(n-row):
      print(" ",end=" ")
    for col in range(2*row-1):
      print("*",end=" ")
    print()

  for row in range(n,0,-1):
    for s in range(n-row):
      print(" ",end=" ")
    for col in range(2*row-1):
      print("*",end=" ")
    print()

func(5)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [36]:
# que 14
def func(n):
  for row in range(n,0,-1):
    num=65
    for s in range(n-row):
      print(" ",end=" ")

    for col in range(1,2*row):
      print(chr(num),end=" ")
      num+=1
    print()


  for row in range(2,n+1):
    num=65
    for s in range(n-row):
      print(" ",end=" ")

    for col in range(1,2*row):
      print(chr(num),end=" ")
      num+=1
    print()

func(5)

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [40]:
# que 15
def func(n):
  for row in range(1,n+1):
    for col in range(1,n+1):
      if row==5 or col==1 or ((row==col) and (col>1 and col<5)):
        print(col,end=" ")
      else:
        print(" ",end=" ")
    print()
func(5)

1
1 2
1   3
1     4
1 2 3 4 5