In [ ]:
for row in range(0,4):
  for col in range(0,4):
    print("*",end="  ")
  print()

*  *  *  *
*  *  *  *
*  *  *  *
*  *  *  *

In [ ]:
n=4
for row in range(0,n):
  for col in range(0,row+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
n=4
for row in range(0,n):
  for col in range(0,row+1):
    print(col,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3

In [ ]:
n=6
for row in range(2,n):
  for col in range(2,row+1):
    print(col,end=" ")
  print()

2
2 3
2 3 4
2 3 4 5

In [ ]:
n=4
for row in range(0,n):
  for col in range(0,row+1):
    col+=2
    print(col,end=" ")
  print()

2
2 3
2 3 4
2 3 4 5

In [ ]:
n=4
num=65
for row in range(0,n):
  for col in range(0,row+1):
    print(num,end="  ")
    num+=1
  print()

65
66  67
68  69  70
71  72  73  74

In [ ]:
n=4
num=65
for row in range(0,n):
  for col in range(0,row+1):
    print(chr(num),end="  ")
    num+=1
  print()

A
B  C
D  E  F
G  H  I  J

In [ ]:
n=4
for row in range(n,0,-1):
  for col in range(1,row+1):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
n=4
for row in range(0,n):
  num=65
  for col in range(0,row+1):

    print(chr(num),end="  ")
    num+=1
  print()

A
A  B
A  B  C
A  B  C  D

In [ ]:
n=4
for row in range(n,-1,-1):
  for col in range(0,row+1):
    print(col,end=" ")
  print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
n=5
x=10
for row in range(n,0,-1):
  for col in range(0,row):
    print(x,end=" ")
    x+=1
  print()

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
n = 4
for row in range(0,n):
    for col in range(row + 1, n + 1):
        print(col, end=" ")
    print()

1 2 3 4
2 3 4
3 4
4

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    if j%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print()

0
0 1
0 1 0
0 1 0 1
0 1 0 1 0

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(0,i):
    if j%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j%2,end=" ")
  print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
n=4
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

      *
    * *
  * * *
* * * *

In [ ]:
n=5
for i in range(n,0,-1):
  for s in range(n-i):
    print("-",end="  ")
  for j in range(1,i+1):
    print("*",end="  ")
  print()

*  *  *  *  *
-  *  *  *  *
-  -  *  *  *
-  -  -  *  *
-  -  -  -  *

In [ ]:
n = 5

for i in range(n, 0, -1):
    for s in range(n - i):
        print(" ", end=" ")

    for j in range(1, i + 1):
        if j == 1 or j == i or i == 5:
            print("*", end=" ")
        else:
            print(" ", end=" ")

    print()

* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
n=5
for i in range(n,0,-1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
n=4
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    if i==4 or j==1 or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    * *
  *   *
* * * *

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,i+1):
    if i==4 or j==1 or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
* * * *

In [ ]:
n=1
num=5
for i in range(num,0,-1):
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
      print(n,end=" ")
    else:
      print(" ",end=" ")
    n+=1
  print()

1 2 3 4 5
6     9
10   12
13 14
15

In [ ]:
n=5

for i in range(n,0,-1):
  num=1
  for j in range(0,i):
    if j%2==0:
      print(num,end=" ")
    else:
      print(0,end=" ")
    num+=1
  print()

1 0 3 0 5
1 0 3 0
1 0 3
1 0
1