In [1]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [2]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==1 or i==3 or j==1 or j==5 :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
* * * * *
*       *
*       *

In [3]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==1 or i==5 or j==1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*
*
*
* * * * *

In [4]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==1 or i==5 or j==2 or j==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
  *     *
  *     *
  *     *
* * * * *

In [5]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if  i==5 or j==1 or j==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*       *
*       *
*       *
*       *
* * * * *

In [7]:
n=5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [12]:
n=7
for i in range(1,n+1):
  for j in range(1,n+1):
    if i+j==5 or j-i==3 or i+j ==11 or i-j==3:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    *   *
  *       *
*           *
  *       *
    *   *
      *

In [13]:
n=5
num=65
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(num),end=" ")
  num+=1
  print()

A
B B
C C C
D D D D
E E E E E

In [14]:
n=5

for i in range(1,n+1):
  num=65
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num+=1
  print()

A
A B
A B C
A B C D
A B C D E

In [15]:
n=5
for i in range(1,n):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
n=5
for i in range(1,n):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(n,0,-1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [29]:
n=4
for i in range(n-1):
  for j in range(i+1):
      print("*",end=" ")
  for s in range(2*(n-i-1)):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()
for i in range(n,0,-1):
  for j in range(i,0,-1):
      print("*",end=" ")
  for s in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(i,0,-1):
      print("*",end=" ")
  print()

*             *
* *         * *
* * *     * * *
* * * * * * * *
* * *     * * *
* *         * *
*             *

In [31]:
# Write a function that takes a string as input and returns the string reversed.
def func(s):
  rev=''
  for i in s:
    rev=i+rev
  return rev
s='anak'
print(func(s))

kana

In [33]:
# Write a program that prints the numbers from 1
# to 100. But for multiples of three print "Fizz" instead of the
# number and for the multiples of five print "Buzz". For
# numbers which are multiples of both three and five print
# "FizzBuzz".

def func():
  for i in range(1,101):
    if i%3==0 and i%5==0:
      print('FIZZBUZZ')
    elif i%3==0:
      print('FIZZ')
    elif i%5==0:
      print('BUZZ')
    else:
      print(i)
print(func())

1
2
FIZZ
4
BUZZ
FIZZ
7
8
FIZZ
BUZZ
11
FIZZ
13
14
FIZZBUZZ
16
17
FIZZ
19
BUZZ
FIZZ
22
23
FIZZ
BUZZ
26
FIZZ
28
29
FIZZBUZZ
31
32
FIZZ
34
BUZZ
FIZZ
37
38
FIZZ
BUZZ
41
FIZZ
43
44
FIZZBUZZ
46
47
FIZZ
49
BUZZ
FIZZ
52
53
FIZZ
BUZZ
56
FIZZ
58
59
FIZZBUZZ
61
62
FIZZ
64
BUZZ
FIZZ
67
68
FIZZ
BUZZ
71
FIZZ
73
74
FIZZBUZZ
76
77
FIZZ
79
BUZZ
FIZZ
82
83
FIZZ
BUZZ
86
FIZZ
88
89
FIZZBUZZ
91
92
FIZZ
94
BUZZ
FIZZ
97
98
FIZZ
BUZZ
None

In [36]:
# Write a function that checks if a given string is a palindrome (reads the same forwards and backwards).
def func(s):
  s = s.lower().replace(" ", "")
  return s==s[::-1]
print(func("A man a plan a canal Panama"))

True

In [37]:
# Write a function that returns the maximum element in a list.
list1=[1,4,5,65,76,56,34]
max=list1[0]
for i in list1:
  if i > max:
    max=i
print(max)

76