In [6]:
# : Write a function that merges two sorted lists into a single sorted list.
def func(list1,list2):
  i=j=0
  merged_list=[]
  while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
      merged_list.append(list1[i])
      i+=1
    else:
      merged_list.append(list2[j])
      j+=1
  merged_list.extend(list1[i:])
  merged_list.extend(list2[j:])

  return merged_list
print(func([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [10]:
# : Write a function that returns the nth Fibonacci number.
def fibonacci(n):
  a=0
  b=1
  for i in range(n):
    print(a,end=" ")
    a,b=b,a+b
fibonacci(5)

0 1 1 2 3

In [13]:
# Count Vowels
str1='hey how are you'
vowels='aeiouAEIOU'
count=0
for i in str1:
  if i in vowels:
    count+=1
print(count)

6

In [16]:
# Anagram Check
str1='naman'
str2='manan'
if len(str1)==len(str2):
  sorted(str1)==sorted(str2)
  print('str1 and str2 is anagram')
else:
  print('not')

not

In [23]:
#q Remove Duplicates
# first approach
list1=[1,2,2,3,3,4,5,6,7]
unique=[]
for i in list1:
  if i not in unique:
    unique.append(i)
print(unique)

# second approach
set1=set(list1)
list2=list(set1)
print(list2)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [26]:
# remove duplicate
# list1=[1,2,2,3,3,4,4] -- output 1
list1=[1,2,2,3,3,4,4]
result=[]
for i in list1:
  if list1.count(i)==1:
    result.append(i)
print(result)

# list1=[1,1,2,2,3,3,4,5,5] -- output 4
list1=[1,1,2,2,3,3,4,5,5]
result=[]
for i in list1:
  if list1.count(i)==1:
    result.append(i)
print(result)

[1]
[4]

In [27]:
# Find Maximum
list1=[1,23,4,4,544,654,6543]
max=list1[0]
for i in list1:
  if i > max:
    max=i
print(max)

6543

In [29]:
# Find Minimum
list1=[1,23,4,4,544,654,6543]
min=list1[0]
for i in list1:
  if i < min:
    min=i
print(min)

1

In [30]:
# Sum of Elements
list1=[1,2,3,4,5,6]
sum=0
for i in list1:
  sum+=i
print(sum)

21

In [31]:
# Factorial
list1=[1,2,3,4,5]
fact=1
for i in list1:
  fact=fact*i
print(fact)

120

In [32]:
# Find the Intersection
set1={1,2,3,4}
set2={3,4,5,6}
print(set1.intersection(set2))

{3, 4}