In [ ]:
#        -----PATTERN--

# sol 3
n=5

for row in range(1,n+1):
  num=65
  for x in range(1,row+1):
    print(chr(num),end=" ")
    num+=1
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
n=1
for i in range(1,6):
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
      print(n,end=" ")
      n+=1
    else:
      print(" ",end=" ")

  print()

1
2 3
4   5
6     7
8 9 10 11 12

In [ ]:
# sol 1
n=4
for row in range(1,n+1):
  for col in range(1):
    print(" "*row+"*"*4)

 ****
  ****
   ****
    ****

In [ ]:
# sol 2
n=4
for row in range(n):
  for col in range(n+2):
    if row==0 or row==3 or col==0 or col==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * *
*         *
*         *
* * * * * *

In [ ]:
# sol 4
n=5
num=65
for row in range(1,n+1):

  for x in range(1,row+1):
    print(chr(num),end=" ")
  num+=1
  print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
#sol 7
n=5
for row in range(1,n+1):
  for s in range(n-row):
    print(" ",end="")
  for col in range(row):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
# sol 7
n=5
for row in range(1,n+1):
  for s in range(n-row):
    print(" ",end="")
  for col in range(1,row+1):
    print(col,end="")
  print()

    1
   12
  123
 1234
12345

In [ ]:
# sol 8
n=5
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end="")
  for col in range(1,row+1):
    print(col,end="")
  print()

12345
 1234
  123
   12
    1

In [ ]:
#sol 8
n=5
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end="")
  num=65
  for col in range(1,row+1):
    print(chr(num),end="")
    num+=1
  print()

ABCDE
 ABCD
  ABC
   AB
    A

In [ ]:
# sol 9
n=5
for row in range(n,0,-1):
  for col in range(1):
    print(" "*row+"*"*5)

     *****
    *****
   *****
  *****
 *****

In [ ]:
n=5
for row in range(1,n+1):
  for s in range(row,n):
    print(" ",end="")
  for col in range(1,n+1):
    print(col,end=" ")
  print()

    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5
1 2 3 4 5

In [ ]:
n=5
for row in range(1,n+1):
  for s in range(row,n):
    print(" ",end="")
  num=65
  for col in range(1,n+1):
    print(chr(num),end=" ")
    num+=1
  print()

    A B C D E
   A B C D E
  A B C D E
 A B C D E
A B C D E

In [ ]:
#sol 13
n=4
for row in range(1,n+1):
  for col in range(1,2*n):
    if row==4 or row+col==n+1 or col-row==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    *   *
  *       *
* * * * * * *

In [ ]:
n=5
k=2
for i in range(1,n+1):
  for j in range(1,2*n):
    if  i+j==n+1 or j-i==n-1:
      print("*",end=" ")
    elif i==n and j!=k:
      print("*",end=" ")
      k+=2
    else:
      print(" ",end=" ")
  print()

        *
      *   *
    *       *
  *           *
*   *   *   *   *

In [ ]:
#sol 15
n=4
for row in range(1,n):
  for col in range(1,row+1):
    print("*",end=" ")
  print()
for row in range(n,0,-1):
  for col in range(1,row+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
#sol 16
n=4
for row in range(1,n):
  for s in range(n-row):
    print(" ",end="")
  for col in range(1,row+1):
    print("*",end="")
  print()
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end="")
  for col in range(1,row+1):
    print("*",end="")
  print()

   *
  **
 ***
****
 ***
  **
   *

In [ ]:
# half pyramid
n=5
for row in range(1,n+1):
  for col in range(1,row+1):
    print(col,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# inverted pyramid
n=5
for row in range(n,0,-1):
  for col in range(1,row+1):
    print(col,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# sol 5
n=5
for row in range(1,n+1):
  num=70-row
  for col in range(1,row+1):
    print(chr(num),end=" ")
    num+=1
  print()

E
D E
C D E
B C D E
A B C D E

In [ ]:
# sol 12
n=5
for row in range(1,n+1):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(2*row-1):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
# sol 14
n=5
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(2*row-1):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
# hollow half pyramid
for row in range(1,6):
  for col in range(1,6):
    if row==5 or col==1 or ((row==col) and (col>1 and col<5)):
      print(col,end=" ")
    else:
      print(" ",end=" ")
  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
# hollow inverted half pyramid
for row in range(1,6):
  for col in range(1,6):
    if row==1:
      print(col,end=" ")
    elif col==1:
      print(row,end=" ")

    elif row+col==6:
      print("5",end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
2     5
3   5
4 5
5

In [ ]:
n=1
for i in range(1,6):
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
      print(n,end=" ")
      n+=1
    else:
      print(" ",end=" ")
  print()

1
2 3
4   5
6     7
8 9 10 11 12

In [ ]:
#sol 17
n=5
for row in range(1,n):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(2*row-1):
    print("*",end=" ")
  print()

for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(2*row-1):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=5
for row in range(1,n):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(1,2*row):
    print(col,end=" ")
  print()
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(1,2*row):
    print(col,end=" ")
  print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
# sol 20
n=5
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(1,2*row):
    print(col,end=" ")
  print()
for row in range(2,n+1):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(1,2*row):
    print(col,end=" ")
  print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
# sol 20
n=5
for row in range(n,0,-1):
  num=65
  for s in range(n-row):
    print(" ",end=" ")

  for col in range(1,2*row):
    print(chr(num),end=" ")
    num+=1
  print()


for row in range(2,n+1):
  num=65
  for s in range(n-row):
    print(" ",end=" ")

  for col in range(1,2*row):
    print(chr(num),end=" ")
    num+=1
  print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
# sol 22

for i in range(9):
  for j in range(9):
    if i+j==4 or j-i==4 or i-j==4 or ((j+i==12) and j>4 and j<8) :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [ ]:
# sol 22

for i in range(9):
  num=65
  for j in range(9):
    if i+j==4 or i-j==4:
      print(chr(num),end=" ")
      num+=2
    elif j-i==4 or j+i==12:
      print(chr(num),end=" ")

    else:
      print(" ",end=" ")
  print()

        A
      A   C
    A       C
  A           C
A               C
  A           C
    A       C
      A   C
        A

In [ ]:
# sol 21
n=5
for row in range(1,n+1):
  for col in range(1,n+1):
    if row==1 or row==5 or col==1 or col==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
# sol 21
n=5
for row in range(1,n+1):
  for col in range(1,n+1):
    if row==1 or row==5 or col==1 or col==5:
      print(col,end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [ ]:
# sol 21
n=5
for row in range(1,n+1):
  num=65
  for col in range(1,n+1):
    if row==1 or row==5 or col==1 :
      print(chr(num),end=" ")
      num+=1
    elif col==5:
      print("E",end=" ")
    else:
      print(" ",end=" ")
  print()

A B C D E
A       E
A       E
A       E
A B C D E

In [ ]:
n=5
for row in range(1,n+1):
  for col in range(1,2*n):
    if row==5 or col==5 or row+col==6 or col-row==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      * * *
    *   *   *
  *     *     *
* * * * * * * * *

In [ ]:
# sol 25
n=4
for i in range(n,0,-1):
  for j in range(i,0,-1):
      print("*",end=" ")
  for s in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(i,0,-1):
      print("*",end=" ")
  print()
for i in range(n):
  for j in range(i+1):
      print("*",end=" ")
  for s in range(2*(n-i-1)):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")

  print()

* * * * * * * *
* * *     * * *
* *         * *
*             *
*             *
* *         * *
* * *     * * *
* * * * * * * *

In [ ]:
#pascle triangle
n=5
mylist=[]
for i in range(n):
  temp=[]
  for j in range(i+1):
    if (j==0 or j==i):
      temp.append(1)
    else:
      temp.append(mylist[i-1][j-1]+mylist[i-1][j])
  mylist.append(temp)
print(mylist)

for i in range(n):
  for s in range(n-i-1):
    print(" ",end="")
  for j in range(i+1):
    print(mylist[i][j],end=" ")
  print()

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [ ]:
#       --------- LOOP-----------

# 2. Print all the armstrong numbers in the range of 100 to 1000 [M]
for num in range(100,1000):
  sum=0
  temp=num
  while num>0:
    rem=num%10
    sum=sum+rem*rem*rem
    num=num//10
  if temp==sum:
      print("armstrong :",temp)

armstrong : 153
armstrong : 370
armstrong : 371
armstrong : 407

In [ ]:
# 1. Print all factors of a given number provided by the user.
num=int(input("enter the number :"))
for i in range(1,num+1):
  if num%i==0:
    print("factor :",i)

enter the number :30
factor : 1
factor : 2
factor : 3
factor : 5
factor : 6
factor : 10
factor : 15
factor : 30

In [ ]:
# .4 Write a program to print whether a given number is prime number or not
num=int(input("enter the num :"))
a=True
for i in range(2,num):
  if num%i==0:
    a=False
    break
if a==True:
  print("prime number")
else:
  print("not prime")

enter the num :13
prime number

In [ ]:
# 5. User will provide 2 numbers you have to find the by LCM of those 2 numbers
num1=3
num2=5
if num1>num2:
  greatest=num1
else:
  greatest=num2
while(True):
  if(greatest%num1==0 and greatest%num2==0):
    print("lcm is :",greatest)
    break
  else:
    greatest+=1

lcm is : 15

In [ ]:
# 6. User will provide 2 numbers you have to find the HCF of those 2 numbers
num1=4
num2=6
while num2!=0:
  num1,num2=num2,num1%num2
print("HCF is :",num1)

HCF is : 2

In [ ]:
#7 Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.
n=int(input("enter the number"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

enter the number10
55

In [ ]:
# 8. Write a program that can multiply 2 numbers provided by the user without using the ( * multiply) operator
num1=int(input("enter the num 1 :"))
num2=int(input("enter the num 2:"))
result=0
for i in range(num2):
  result=result+num1
print("the result of multiplying",num1, "and",num2,"is",result)

enter the num 1 :5
enter the num 2:6
the result of multiplying 5 and 6 is 30

In [ ]:
# 9. Write a program that can find the factorial of a given number provided by the user
n=int(input("enter the num :"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

enter the num :5
120

In [ ]:
# 10. Write a program to count the total number of digits in a number using a while loop. a. For example, the number is 75869, so the output should be 5.
num=75869
count=0
while num>0:
  rem=num%10
  count=count+1
  num=num//10
print(count)

5

In [ ]:
# 11. Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.
# Initialize sum and count
sum = 0
count = 0

while True:
    num = int(input("Enter a number (Enter 0 to stop): "))
    if num == 0:
        break
    sum += num
    count += 1


if count != 0:
    average = sum / count
    print("The sum of the numbers is:",sum)
    print("The average of the numbers is:", average)
else:
    print("No numbers were entered.")

Enter a number (Enter 0 to stop): 5
Enter a number (Enter 0 to stop): 5
Enter a number (Enter 0 to stop): 0
The sum of the numbers is: 10
The average of the numbers is: 5.0

In [ ]:
# 12. Write a program to print multiplication table of a given number For example, num = 2 so the output should be 2,4,6,8....20
num=int(input("enter the num :"))
for i in range(1,11):
  print(num*i)

enter the num :2
2
4
6
8
10
12
14
16
18
20

In [ ]:
# 13. Use else block to display a message “Done” after successful execution of for loop For example, the following loop will execute without any error.
num=int(input("enter the number :"))
for i in range(1,11):
  print(num*i)

else:
  print("done")

enter the number :5
5
10
15
20
25
30
35
40
45
50
done

In [ ]:
# 14. Display Fibonacci series up to 10 terms
# a. The Fibonacci Sequence is a series of numbers. The next number is found by
# adding up the two numbers before it. The first two numbers are 0 and 1.
# b. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series aboveis 13+21 = 34.
a=0
b=1
for i in range(1,11):
  print(a,end=" ")
  c=a+b
  a=b
  b=c

0 1 1 2 3 5 8 13 21 34

In [ ]:
# ------------------List-------------

# 1. Write a program to print the first 25 odd numbers in list
newlist=[]
for i in range(1,51):
  if i%2!=0:
    newlist.append(i)
print(newlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 2. Arrange string characters such that lowercase letters should come first
string = "Hii MY name GaURav"

lowercase = ""
uppercase = ""

for char in string:
    if char.islower():
        lowercase += char
    else:
        uppercase += char
character = lowercase + uppercase
print(character)

iinameaavH MY  GUR

In [ ]:
# 3. Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"

letters = 0
digits = 0
special_symbols = 0

for char in str1:
    if char.isalpha():
        letters += 1
    elif char.isdigit():
        digits += 1
    else:
        special_symbols += 1

print("letters:", letters)
print("digits:", digits)
print("Special symbols:", special_symbols)

letters: 8
digits: 3
Special symbols: 4

In [ ]:
# 4. Remove empty strings from a list of strings
list1=["python","is","","high level","","programming language"]
new_list=[]
for i in list1:
  if i != "":
    new_list.append(i)
print(new_list)

['python', 'is', 'high level', 'programming language']

In [ ]:
# 6 Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
integer=""
for i in str1:
  if i.isdigit():
    integer+=i
print(integer)

2510

In [ ]:
# 7 . extract the email service provider name
# a. emaillist=["KSR@datavizion.com","mymail@yahoo.com","milindmali@google.
# com","snehal@health

emaillist="KSR@datavizion.com" ,"mymail@yahoo.com","milindmali@google.com","snehal@health"
provider_name=[]
for email in emaillist:
  provider=email.split("@")
  provider_name.append(provider)
print(provider_name)

[['KSR', 'datavizion.com'], ['mymail', 'yahoo.com'], ['milindmali', 'google.com'], ['snehal', 'health']]

In [ ]:
# 8. extract all the emailid for the given string
# a. string="Hi my name is Govind Das and my mail id is
# milindmali108@gmail.com and my org
# b. Output => milindmali108@gmail.com

string = "Hi my name is Govind Das and my mail id is milindmali108@gmail.com and my org"
str = string.split()

email_id = ""

for char in str:
    if "@" in char and "." in char:
        email_id = char
        break

print(email_id)

milindmali108@gmail.com

In [ ]:
#9 Create a Python set such that it shows the element from both lists in a pair
# a. first_list = [2, 3, 4, 5, 6, 7, 8]
# b. second_list = [4, 9, 16, 25, 36, 49, 64

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]


pair_set = set(zip(first_list, second_list))

print(pair_set)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [ ]:
# 10. Write a program to reverse a List in Python
list=[4,5,6,7,8,9]
list.sort(reverse=True)
print(list)

[9, 8, 7, 6, 5, 4]

In [ ]:
# 11. Write a program to clone or copy the list:
list1=[1,2,36,4,5]
list2=list1.copy()
print(list2)

[1, 2, 36, 4, 5]

In [ ]:
#12 Write a program to get sum of number of digit in a list
list=[1,2,3,4,5]
sum=0
for i in list:
  sum=sum+i
print(sum)

15

In [ ]:
# 13  Write a program to get the smallest number in a list
# Note => without using reverse(), sort() and slicing operator
list1=[34,54,65,76,2,45]
smallest_num=list1[0]
for i in list1:
  if i < smallest_num:
    smallest_num=i
print(smallest_num)

2

In [ ]:
# 14 Write a program to print the count of even and odd number from a lis
list=[1,2,3,4,5,6,7]
even_count=0
odd_count=0
for i in list:
  if i%2==0:
    even_count+=1
  else:
    odd_count+=1
print("Even count:",even_count)
print("odd count:",odd_count)

Even count: 3
odd count: 4

In [ ]:
# -------------------IF CONDITIONS---------------

In [ ]:
# 1. Write a program that takes a user input of three angles and will find out whether it can form a triangle or not.
angle1=int(input("Enter the first angle :"))
angle2=int(input("Enter the second angle :"))
angle3=int(input("Enter the third angle :"))

if angle1+angle2+angle3==180:
  print("This angle is triangle")
else:
  print("This angle is not triangle")

Enter the first angle :45
Enter the second angle :75
Enter the third angle :60
This angle is triangle

In [ ]:
# 2. Write a program that will determine weather when the value of temperature and humidity is provided by the user
temp=int(input("Enter the temperature :"))
humidity=int(input("Enter the humidity :"))
if temp>= 30 and humidity>=90:
  print("hot and humid")
elif temp >=30 and humidity<90:
  print("hot")
elif temp<30 and humidity>=90:
  print("cool and humid")
else:
  print("cool")

Enter the temperature :29
Enter the humidity :89
cool

In [ ]:
# 3. Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit
cost_price=int(input("enter the cost price :"))
selling_price=int(input("enter the selling price :"))
if selling_price > cost_price:
  profit=selling_price-cost_price
  print("proofit :",profit)
elif cost_price > selling_price:
  loss=cost_price-selling_price
  print("loss :",loss)
else:
  print("no loss,no profit")

enter the cost price :190
enter the selling price :250
proofit : 60

In [ ]:
#5 Program to check whether a number is divisible by 5 and 11 or not
num=int(input("Enter the number :"))
if num%5==0 and num%11==0:
  print("number is divisible both 5 and 11")
else:
  print("not")

Enter the number :55
number is divisible both 5 and 11

In [ ]:
#6 Write a program to check whether triangle is valid or not if angles are given.
angle1=int(input("Enter the first angle :"))
angle2=int(input("Enter the second angle :"))
angle3=int(input("Enter the third angle :"))

if angle1+angle2+angle3==180:
  print("This triangle is valid")
else:
  print("This triangle not valid")

Enter the first angle :90
Enter the second angle :45
Enter the third angle :45
This triangle is valid

In [ ]:
# 7 Write a program to check whether triangle is equilateral, scalene or isosceles
a=int(input("enter the angle 1 : "))
b=int(input("enter the angle 2 :"))
c=int(input("enter the angle 3 :"))
if a==b==c:
  print("Equilatteral triangle")
elif a==b or a==c :
  print("Isosceles triangle")
else:
  print("Scalene Triangle5")

enter the angle 1 : 45
enter the angle 2 :55
enter the angle 3 :45
Isosceles triangle

In [ ]:
# 8 Write a program to enter basic salary and calculate gross salary of an employee
salary=int(input("Enter your salary :"))
if salary<=10000:
  hra=salary*0.20
  print("hra:",hra)
  da=salary*0.80
  print("da: ",da)
  gross=salary+hra+da
  print("gross :",gross)
elif 10000>=salary<=20000:
  hra=salary*0.25
  print("hra:",hra)
  da=salary*0.90
  print("da :",da)
  gross=salary+hra+da
  print("gross :",gross)
elif salary>=20001:
  hra=salary*0.30
  print("hra:",hra)
  da=salary*0.95
  print("da :",da)
  gross=salary+hra+da
  print("gross :",gross)

Enter your salary :10000
hra: 2000.0
da:  8000.0
gross : 20000.0

In [ ]:
# 9. Write a program to calculate the total electricity bill based on the following conditions:
# a. The first 50 unit will be calculated with 2 rs/unit
# b. The next 100 unit will be calculated with 5 rs/unit
# c. The next 150 unit will be calculated with 10 rs/unit
# d. All the other units will be calculated with 15 rs/uni
units=int(input("Enter the unit :"))
if (units <= 50):
        bill = units * 2;
elif (units <= 100) :
        bill = units * 5;
elif (units <= 150):
        bill = units * 10;

else:
    bill = units*15;

print("Total electricity :",bill)

Enter the unit :150
Total electricity : 1500

In [ ]:
# 10. Write a program to check whether any year is a leap year or not
# a. A leap year is exactly divisible by 4 except for century years (years ending
# with 00). The century year is a leap year only if it is perfectly divisible by 400.
year=int(input("enter the year :"))
if year%4==0:
  print("leap year")
elif year%400==0:
  print("leap year")
else:
  print("not leap year")

enter the year :2004
leap year

In [ ]:
# 11 Write a program that will reverse a four digit number.Also it checks whether the reverse
num=int(input("enter the number :"))
temp=num
reversed=0
while num>0:
  rem=num%10
  reversed=reversed*10+rem
  num=num//10
if reversed==temp:
  print("reversed number :",reversed)
else:
  print("number is not reversed")

enter the number :1221
reversed number : 1221

In [ ]:
#12. Write a program that will check whether the number is armstrong number or not
num=int(input("Enter the Number :"))
sum=0
temp=num
while num>0:
  rem=num%10
  sum=sum+rem*rem*rem
  num=num//10
if sum==temp:
  print("Armstrong number :",sum)
else:
  print("not")

Enter the Number :153
Armstrong number : 153