In [ ]:
mylist=[1,2,2,3,3,4]
duplicate=[]
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if (mylist[i]==mylist[j]):
      if mylist[i] not in duplicate:
        duplicate.append(mylist[i])
print(duplicate)

[2, 3]

In [ ]:
n=4
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

      *
    * *
  * * *
* * * *

In [ ]:
n=4
for i in range(n,0,-1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(i,0,-1):
    print("*",end=" ")
  print()

* * * *
  * * *
    * *
      *

In [ ]:
n=5
for i in range(1,n+1):

  num=65
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num+=1
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    if i==5 or j==1 or ((i==j) and j>1 and j<5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
n=5
for i in range(1,6):
  for j in range(1,6):
    if i==1:
      print(j,end=" ")
    elif j==1:
      print(i,end=" ")
    elif ((i+j==6) and j>1 and j<5):
      print("5",end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
2     5
3   5
4 5
5

In [ ]:
n=5
for i in range(1,n):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print("*",end=" ")
  print()
for i in range(n,0,-1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=5
for row in range(1,n):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(1,2*row):
    print(col,end=" ")
  print()
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end=" ")
  for col in range(1,2*row):
    print(col,end=" ")
  print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
n=5
for row in range(n,0,-1):
  for s in range(n-row):
    print(" ",end=" ")
  num=65
  for col in range(1,2*row):
    print(chr(num),end=" ")
    num+=1
  print()
for row in range(2,n+1):
  for s in range(n-row):
    print(" ",end=" ")
  num=65
  for col in range(1,2*row):
    print(chr(num),end=" ")
    num+=1
  print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
n=4
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end=" ")

  for j in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
      print(" ",end=" ")

  for j in range(1,i+1):
    print("*",end=" ")
  print()

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [ ]:
for num in range(100,1000):
  sum=0
  temp=num
  while num>0:
    rem=num%10
    sum=sum+rem*rem*rem
    num=num//10
  if (temp==sum):
      print("armstrong number :",temp)

armstrong number : 153
armstrong number : 370
armstrong number : 371
armstrong number : 407

In [ ]:
num=121
sum=0
temp=num
while num>0:
  rem=num%10
  sum=sum*10+rem
  num=num//10
print(sum)

121

In [ ]:
for i in range(1,5):
  for j in range(1,8):
    if i==1 or  i==j or ((i+j==8) and j>4 and j<7):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
  *       *
    *   *
      *

In [ ]:
n=4
for i in range(1,n):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
mylist=[1,2,2,3,3,4]
duplicate=[]
for i in range(1,len(mylist)):
  for j in range(i+1,len(mylist)):
    if (mylist[i]==mylist[j]):
      if mylist[i] not in duplicate:
        duplicate.append(mylist[i])
print(duplicate)

[2, 3]

In [ ]:
num=153
sum=0
temp=num
while num>0:
  rem=num%10
  sum=sum+rem*rem*rem
  num=num//10
if temp==sum:
  print("armstrong number :",sum)

armstrong number : 153

In [ ]:
mylist=[10,20,20,30,30,40]
duplicate=[]
for i in range(1,len(mylist)):
  for j in range(i+1,len(mylist)):
    if (mylist[i]==mylist[j]):
      if mylist[i] not in duplicate:
        duplicate.append(mylist[i])
print(duplicate)

[20, 30]

In [ ]:
n=4
for i in range(1,n):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(1,n):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    print("*",end=" ")
  print()
for i in range(n,0,-1):
  for s in range(n-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=int(input("enter the number :"))
count=0
sum=0
temp=n
while n>0:
  rem=n%10
  count=count+1
  n=n//10
n=temp
while n>0:
  rem=n%10
  sum+=rem**count
  n=n//10
if (temp==sum):
  print("armstrong :",temp)
else:
  print("not armstrong")

enter the number :34567
not armstrong

In [ ]:
n=1
for i in range(1,6):
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
      print(n,end=" ")
      n+=1
    else:
      print(" ",end=" ")
  print()

1
2 3
4   5
6     7
8 9 10 11 12

In [ ]:
for i in range(1,5):
  for j in range(1,8):
    if i==1 or i==j or i+j==8:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
  *       *
    *   *
      *

In [ ]:
list=[1,2,2,3,3,4]
duplicate=[]
for i in range(1,len(list)):
  for j in range(i+1,len(list)):
    if list[i]==list[j]:
      if list[i] not in duplicate:
        duplicate.append(list[i])
print(duplicate)

[2, 3]

In [ ]:
n=1
for i in range(1,6):
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
      print(n,end=" ")
      n+=1
    else:
      print(" ",end=" ")
  print()

1
2 3
4   5
6     7
8 9 10 11 12

In [ ]:
num=int(input("enter the number :"))
sum=0
count=0
temp=num
while num>0:
  count+=1
  num=num//10
num=temp
while num>0:
  rem=num%10
  sum=sum+rem**count
  num=num//10
if (temp==sum):
  print("narcestic number :",sum)
else:
  print("")

narcestic number : 1634